<div class="auth">
    <div id="info-box">
        <alert ng-repeat="alert in infos" type="alert.type" close="closeInfoAlert($index)">{{alert.msg}}</alert>
    </div>

    <div ng-if="loader.isLoading">
        <loader size='small'></loader>
    </div>
    <div ng-if="!loader.isLoading">

        <div ng-if="!user.signedIn">
            <button ng-if="homeButtonVisible()" ng-click="setLocationHome()" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i>Home</button>

            <input type="text" ng-model="user.username">
            <input id="password" type="password" ng-model="user.password">
            <button ng-click="signIn()" class="btn btn-default">Sign in</button>
            <button ng-click="register()" class="btn btn-default">Register</button>
        </div>
        <div ng-if="user.signedIn">
            <button ng-if="adminButtonVisible()" ng-click="setLocationAdmin()" class="btn btn-danger"><i class="glyphicon glyphicon-star"></i>Admin</button>
            <button ng-if="homeButtonVisible()" ng-click="setLocationHome()" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i>Home</button>

            Hello, <a href="#/profile" >{{user.username}}</a>!
            <button ng-click="signOut()" class="btn btn-default"><i class="glyphicon glyphicon-log-out"></i> Sign out</button>
        </div>
    </div>
</div>