<div class="tabbable tabs-left">

    <div class="col-md-1 info-side-menu">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="getTabClass(0)" ng-click="setActiveTab(0)"><a data-toggle="tab">Welcome</a></li>
            <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab">About</a></li>
            <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab">Roles</a></li>
            <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a data-toggle="tab">Advanced</a></li>
        </ul>
    </div>
    <div class="tab-content" style="overflow: auto;">
        <div ng-class="getTabPaneClass(0)" id="welcome">
            <div ng-include src="'app/static/cities/info/overview.html'">
            </div>
        </div>

        <div ng-class="getTabPaneClass(1)" id="about">
            <h2>About</h2>
            <div ng-include src="'app/static/cities/info/about.html'">
            </div>
        </div>

        <div ng-class="getTabPaneClass(2)" id="roles">
            <h2>Roles</h2>
            <div ng-include src="'app/static/cities/info/roles.html'">
            </div>
        </div>

        <div ng-class="getTabPaneClass(3)" id="advanced">
            <h2>Advanced</h2>
            <div ng-include src="'app/static/cities/info/screenshots.html'"></div>
            <div ng-include src="'app/static/cities/info/provableRoles.html'"></div>
        </div>

    </div>
</div>

