<!--
<img class="ajax-loader-spinner-small" src="content/img/loader-brown-bck-32.gif" ng-if="size == 'small'" style="{{style}}"/>
<img class="ajax-loader-spinner-medium" src="content/img/ajax-loader-64.gif" ng-if="size != 'small' && size != 'large'" style="{{style}}"/>
<img class="ajax-loader-spinner-large" src="content/img/ajax-loader-128.gif" ng-if="size == 'large'" style="{{style}}"/>
-->


<i class="fa fa-spinner fa-spin" ng-if="size == 'small'"></i>
<i class="fa fa-spinner fa-spin fa-2x" ng-if="size != 'small' && size != 'large'"></i>
<i class="fa fa-spinner fa-spin fa-5x" ng-if="size == 'large'"></i>
