<action-type-params-result city="city" resident="resident" action-result="actionTypeParamsResult" action-results="actionResults" action-type-id="actionTypeIds.ACTION_TYPE_ID_DEPUTY_IDENTITIES" role-id="roleId"></action-type-params-result>

<div ng-if="actionTypeParamsDictionary.number_of_actions_available > 0">
    <div id="info-box">
        <alert ng-repeat="alert in infos" type="alert.type" close="closeInfoAlert($index)">{{alert.msg}}</alert>
    </div>


    <button ng-click="cancelUnprocessedActions()" class="btn btn-erease notext" popover="Cancel all unprocessed actions of this type" popover-trigger="mouseenter" popover-placement="right" style="margin-right: 4px;"><i class="fa fa-eraser"></i></button>
    <button ng-click="revealIdentities()" class="btn btn-explore" popover="Find out true roles of all players that died during the time you were the Deputy." popover-trigger="mouseenter" popover-placement="right"><img src="content/img/sheriff-icon.ico" style="width: 25px; -webkit-filter: invert(100%); margin-top: -5px; margin-bottom: -4px;"/>Reveal identities</button>

</div>