<div>

    <div id="info-box">
        <alert ng-repeat="alert in infos" type="alert.type" close="closeInfoAlert($index)">{{alert.msg}}</alert>
    </div>

    <div>
        <i class="glyphicon glyphicon-screenshot"></i>Protect
    </div>
    <div class="col-md-1">
        <button ng-click="cancelUnprocessedActions()" popover="Cancel all unprocessed actions of this type" popover-trigger="mouseenter" popover-placement="right"><img src="content/img/delete-unprocessed-actions-icon.png"  style="width: 25px;" /></button>
    </div>
    <div class="col-md-11">
        <input ng-if="city.residents" type="text" typeahead-on-select="protectOnSelect($item)" ng-model="selected" typeahead="otherResident.username for otherResident in city.residents | filter:$viewValue" class="form-control" popover="Select a player you wish to protect in the upcoming night" popover-trigger="focus">
    </div>

</div>