
<div id="info-box">
    <alert ng-repeat="alert in infos" type="{{ alert.type }}" close="closeInfoAlert($index)">{{alert.msg}}</alert>
</div>
<div>
<i class="glyphicon glyphicon-screenshot"></i>Mafia Vote
</div>
<div class="col-md-1 nopadding" style="text-align: center">
    <button ng-click="cancelUnprocessedActions()" class="btn btn-erease notext" popover="Cancel all unprocessed actions of this type" popover-trigger="mouseenter" popover-placement="right"><i class="fa fa-eraser"></i></button>
</div>
<div class="col-md-11 nopadding">
    <input ng-if="city.residents" type="text" typeahead-on-select="voteOnSelect($item)" ng-model="selected" typeahead="otherResident.name for otherResident in city.residents | filter:$viewValue" typeahead-wait-ms="200" class="form-control" popover="Vote for a player you want dead." popover-trigger="focus">
</div>