<h1>Welcome to <b>The Mafia</b></h1>

<div class="col-md-12" style="margin-top: 30px; margin-bottom: 10px">
    <b style="font-size: 20px"><a href="#!/register">Register</a> with your email address. It takes just a moment. After that, you are ready to create games.</b>
</div>

<img alt="mafia_grid" src="content/img/tutorial/createATown.gif" />

<div class="col-md-12" style="margin-top: 30px; margin-bottom: 10px">
    Here you don't play with strangers. When you create a game, you should add your friends by their email address.
    Accounts for them are immediately created if necessary and an email is sent to their email addresses with all the necessary information.
    <br/>
    They are also immediately joined to the game you created. This means that you can start the game within next 5 minutes.
    The rest of the players don't even have to immediately know that they are included.
    They can be instructed on the fly as the game progresses.
</div>

<img alt="mafia_grid" class="col-md-12" src="content/img/tutorial/invite2.gif" />

<div class="col-md-12" style="margin-top: 30px; margin-bottom: 10px">
    Duration of a game varies based on your preference.

    <br/>
    I strongly suggest playing the game in real-time. As the days and nights go by in real life, so do they within the game.
    In a game like this, you only need to come online for a couple of minutes per day.
    The rest of the time, you are playing the game <i>offline</i>, in real life... with your friends.
</div>

<img alt="mafia_grid" class="col-md-12" src="content/img/tutorial/dayCycles.gif" />

<div class="col-md-12" style="margin-top: 30px; margin-bottom: 10px">
    Finally, make a distribution - how many of which game roles will you have in the game?
</div>
<img alt="mafia_grid" class="col-md-12" src="content/img/tutorial/roleDist.gif" />

<div class="col-md-12" style="margin-top: 60px;">

    <h4>
    This site <span class="text-red">IS NOT</span>:
        <ul>
            <li>
                an online forum
            </li>
            <li>
                a site with live chat capabilities
            </li>
        </ul>
    </h4>
    If you need messanging functionalities, fell free to use Facebook, WhatsApp, Skype, Gmail, Telephone, SMS...

    <h4>
    This <span class="text-green">IS </span> a Web app for managing and playing Mafia games.
    Here you can:
        <ul>
            <li>
                create a game for you and your friends
            </li>
            <li>
                submit your actions and votes as the game progresses
            </li>
            <li>
                regularly check up on the state of the game and track its progress
            </li>
        </ul>


    </h4>

</div>

<br/>
<br/>

<b style="font-size: 20px">If you are new to Mafia, you can find out more information <a href="http://en.wikipedia.org/wiki/Mafia_%28party_game%29">here</a>.
For more information about the specifics of this site, see <a ng-click="showStaticPage(1)">About</a> and check out the complete list of <a ng-click="showStaticPage(2)">Roles</a>.</b>


<h2>Game Overview</h2>

Game participants are playing that they are residents of a single town. <br/>
Most of the residents in a town are innocent people.
But there is a mysterious small group of people in the town that form <b>the Mafia</b>.
Nobody of <i>the innocents</i> knows who these people are, but they know each other among themselves.
<br/>
<br/>
<i>The innocents</i> (also called <b>the Citizens</b>) need to find out which of the other players belong to the Mafia, before the Mafia kills them all.

The essence of this game is a competition between these two teams - <b>the Citizens</b> and <b>the Mafia</b>. </br>

The objective for <b>the Citizens</b> is to kill every Mafia member. </br>
The objective for <b>the Mafia</b> is to kill enough citizens so that mafia members become 50% of entire town's population or more. </br>

If either of these two objectives gets completed, the game is over. </br>

After the game is started, a town repeatedly goes through <b>day and night phases</b>. </br>

The <b>killings</b> occur primarily in one of the following ways:
<ul>
    <li>
        During each night, mafia members vote who they want to kill. The resident that gets the most votes, will be dead the next morning.
        In this secret internal voting, mafia members need to be harmonized.
        Strictly more than half (>50%) of alive mafia members need to vote for the same resident in order for a mafia hit to be successful.
    </li>
    <li>
        During each day, citizens organize a public voting - a lynch. The idea is to vote for a resident that is believed to be a part of the Mafia.
        A resident that gets the most votes is executed at the end of the day. (Votes don't have to be >50%) </br>
        Every living resident in town (including the Mafia members) has access to this public voting.
    </li>
</ul>

<br/>
<br/>

If you die during the game, that <b>does NOT</b> mean you are defeated or that you <i>lost the game</i>.
The fact you died merely means that your votes and actions no longer count and they don't affect the state of the game.
If you manage to stay alive until the end of the game, but your team was defeated, this means that you are defeated as well.
If, on the other hand, you die early in the game, but your teams ends up winning the game, this means that you are also victorious.
As mentioned earlier, the game is a competition between <b>teams</b>. That means you either <b>lose as a team, or win as a team</b>.

<br/>

<br/>

The only problem may be that, at first, you don't even know who else is on your team with you :).


<br/>
<br/>
