<div class="admin-panel">
    <div ng-if="queryable" class="admin-query-panel">
    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Username</p>
        <input ng-model="queryModel.username">
    </div>
    <div style="clear: both" class="row-even">
        <p class="col-md-1">City Name</p>
        <input ng-model="queryModel.cityName">
    </div>

    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Input JSON</p>
        <textarea ng-model="queryModel.inputJson"></textarea>
    </div>

    <div style="clear: both; overflow: hidden;" class="row-even">
        <p class="col-md-1">Roles</p>
        <div ng-repeat="role in roles" class="col-md-1">
            <input type="checkbox"  ng-checked="queryModel.roleIds.indexOf(role.id) > -1" ng-click="toggleRoleSelection(role)">{{ role.name }}
        </div>
    </div>

    <div style="clear: both; overflow: hidden;" class="row-odd">
        <p class="col-md-1">Role Authentic?</p>
        <select ng-model="queryModel.roleAuthentic">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <div style="clear: both; overflow: hidden;" class="row-even">
        <p class="col-md-1">Action Types</p>
        <div ng-repeat="actionType in actionTypes" class="col-md-1">
            <input type="checkbox"  ng-checked="queryModel.actionTypeIds.indexOf(actionType.id) > -1" ng-click="toggleActionTypeSelection(actionType)">{{ actionType.name }}
        </div>
    </div>


    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Day</p>
        <input type="number" ng-model="queryModel.dayMin"> - <input type="number" ng-model="queryModel.dayMax">
    </div>

    <div style="clear: both; overflow: hidden" class="row-even">
        <p class="col-md-1">Resident Alive</p>
        <select ng-model="queryModel.residentAlive">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>

    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Is Processed</p>
        <select ng-model="queryModel.isProcessed">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>




    <div style="clear: both" class="query-model row-even">
        <p class="col-md-1">Created</p>
        <quick-datepicker ng-model='queryModel.createdAtMin' time-format='HH:mm' placeholder='Not Set'></quick-datepicker> - <quick-datepicker ng-model='queryModel.createdAtMax' time-format='HH:mm' placeholder='Not Set'></quick-datepicker>
    </div>

    <div class="bottom-buttons">
        <button class="btn btn-search" ng-click="reloadData(true)">Search</button>
    </div>
</div>

</div>

<div class="admin-results">
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Resident</td>
            <td>Role</td>
            <td>Action Type</td>
            <td>Day</td>
            <td>Resident Alive</td>
            <td>Is Processed</td>
            <td>Input</td>
            <td>Created At</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="action in actions">
            <td>{{ action.id }}</td>
            <td>resident_id: {{ action.resident.id }}; <br/>
                resident_username: {{ action.resident.username }}; <br/>
                resident_city_id: {{ action.resident.city_id }}; <br/>
                resident_city_name: {{ action.resident.city_name }}
            </td>
            <td>{{ action.role.name }}</td>
            <td>{{ action.action_type.name }}</td>
            <td ng-if="action.day.id">
                day_id: {{ action.day.id }}; <br/>
                day_number: {{ action.day.number }}
            </td>
            <td ng-if="!action.day.id"></td>

            <td style="text-align: center;"><img-bool boolean-value="action.resident_alive"></img-bool></td>
            <td style="text-align: center;"><img-bool boolean-value="action.is_processed"></img-bool></td>
            <td>{{ action.input_json }}</td>
            <td>{{ action.created_at | localeDate }}</td>
        </tr>
        <tr ng-if="isLoadingContent">
            <td colspan="9" style="text-align: center">
                <loader size='small'></loader>
            </td>
        </tr>
        <tr ng-hide="isLoadingContent">
            <td colspan="9">
                <button class="btn btn-block" ng-click="reloadData()" ng-hide="noMoreContent">More</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>