<div ng-if="queryable">

    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Name</p>
        <input ng-model="queryModel.username">
    </div>
    <div style="clear: both" class="row-even">
        <p class="col-md-1">User Creator</p>
        <input ng-model="queryModel.email">
    </div>
    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Timezone</p>

        <select ng-model="queryModel.timezoneSign" ng-options="sign.value as sign.name for sign in [{value: 1, name: '+'}, {value: -1, name: '-'}]" ng-hide="queryModel.anyTimezone">
        </select>

        <timepicker style="display: inline-block" ng-model="queryModel.timezoneDate" hour-step="1" minute-step="15" show-meridian="false" ng-hide="queryModel.anyTimezone" readonly-input="true"></timepicker>
        <input type="checkbox" ng-model="queryModel.anyTimezone"> Any Timezone?
    </div>
    <div style="clear: both" class="row-even">
        <p class="col-md-1">Active</p>
        <select ng-model="queryModel.active">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div style="clear: both" class="row-odd">
        <p class="col-md-1">Paused</p>
        <select ng-model="queryModel.paused">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div style="clear: both; overflow: hidden;" class="row-even">
        <p class="col-md-1">Paused During Day</p>
        <select ng-model="queryModel.pausedDuringDay">
            <option value="">All</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div style="clear: both" class="query-model row-odd">
        <p class="col-md-1">Started</p>
        <quick-datepicker ng-model='queryModel.startedAtMin' time-format='HH:mm' placeholder='Not Set'></quick-datepicker> - <quick-datepicker ng-model='queryModel.startedAtMax' time-format='HH:mm' placeholder='Not Set'></quick-datepicker>
    </div>
    <div style="clear: both" class="query-model row-even">
        <p class="col-md-1">Paused</p>
        <quick-datepicker ng-model='queryModel.pauseddAtMin' time-format='HH:mm' placeholder='Not Set'></quick-datepicker> - <quick-datepicker ng-model='queryModel.pausedAtMax' time-format='HH:mm' placeholder='Not Set'></quick-datepicker>
    </div>
    <div style="clear: both" class="query-model row-odd">
        <p class="col-md-1">Finished</p>
        <quick-datepicker ng-model='queryModel.finishedAtMin' time-format='HH:mm' placeholder='Not Set'></quick-datepicker> - <quick-datepicker ng-model='queryModel.finishedAtMax' time-format='HH:mm' placeholder='Not Set'></quick-datepicker>
    </div>
    <div style="clear: both" class="query-model row-even">
        <p class="col-md-1">Created</p>
        <quick-datepicker ng-model='queryModel.createdAtMin' time-format='HH:mm' placeholder='Not Set'></quick-datepicker> - <quick-datepicker ng-model='queryModel.createdAtMax' time-format='HH:mm' placeholder='Not Set'></quick-datepicker>
    </div>
    <div style="clear: both" class="query-model row-odd">
        <p class="col-md-1">Updated</p>
        <quick-datepicker ng-model='queryModel.updatedAtMin' time-format='HH:mm' placeholder='Not Set'></quick-datepicker> - <quick-datepicker ng-model='queryModel.updatedAtMax' time-format='HH:mm' placeholder='Not Set'></quick-datepicker>
    </div>

    <button class="btn btn-success" ng-click="reloadData(true)">Search</button>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>User Creator</td>
            <td>Timezone</td>
            <td>Started At</td>
            <td>Paused At</td>
            <td>Finished At</td>
            <td>Created At</td>
            <td>Updated At</td>
            <td>Details</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="city in cities">
            <td>{{ city.id }}</td>
            <td>{{ city.name }}</td>
            <td>id: {{ city.user_creator_id }}; username: {{ city.user_creator_username }}</td>
            <td>{{ city.timezone }}</td>
            <td>{{ city.started_at }}</td>
            <td>{{ city.paused ? city.last_paused_at : null }}</td>
            <td>{{ city.finished_at }}</td>
            <td>{{ city.created_at }}</td>
            <td>{{ city.updated_at }}</td>
            <td><button class="btn btn-info">Details</button></td>
        </tr>
        <tr ng-if="isLoadingContent">
            <td colspan="10" style="text-align: center">
                <loader size='small'></loader>
            </td>
        </tr>
        <tr ng-hide="isLoadingContent">
            <td colspan="10">
                <button class="btn btn-block" ng-click="reloadData()" ng-hide="noMoreContent">More</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>