<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Description</td>
        <td>Email</td>
        <td>Email Pattern</td>
        <td>App Role</td>
        <td>Priority</td>
        <td>Enabled</td>
        <td>Created At</td>
        <td>Updated At</td>
        <td>Details</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="initialAppRole in initialAppRoles">
        <td>{{ initialAppRole.id }}</td>
        <td>{{ initialAppRole.description }}</td>
        <td>{{ initialAppRole.email }}</td>
        <td>{{ initialAppRole.email_pattern }}</td>
        <td>{{ appRolesByIds[initialAppRole.app_role_id].name }}</td>
        <td>{{ initialAppRole.priority }}</td>
        <td style="text-align: center;"><img-bool boolean-value="initialAppRole.enabled"></img-bool></td>
        <td>{{ initialAppRole.created_at }}</td>
        <td>{{ initialAppRole.updated_at }}</td>
        <td><button class="btn btn-info">Details</button></td>
    </tr>
    <tr ng-if="isLoadingContent">
        <td colspan="10" style="text-align: center">
            <loader size='small'></loader>
        </td>
    </tr>
    <tr ng-hide="isLoadingContent">
        <td colspan="10">
            <button class="btn btn-block" ng-click="reloadData()" ng-hide="noMoreContent">More</button>
        </td>
    </tr>
    </tbody>
</table>