<tabset>
    <tab active="tabActive[0]">
        <tab-heading>
            <i class="glyphicon glyphicon-eye-open"></i> Public
        </tab-heading>

        <public-tab city="city" role-id="roleId" resident="resident" action-results="actionResults" action-results-by-type="actionResultsByType"  is-loading-action-results="isLoadingActionResults" day-number-min="dayNumberMin" day-number-max="dayNumberMax" has-earlier-action-results="hasEarlierActionResults"  load-earlier-action-results="loadEarlierActionResults" has-more-recent-action-results="hasMoreRecentActionResults" load-more-recent-action-results="loadMoreRecentActionResults"></public-tab>

    </tab>

    <tab active="tabActive[1]">
        <tab-heading>
            <i class="glyphicon glyphicon-eye-close"></i> Special
        </tab-heading>

        <div class="col-md-6 nopadding">

            <special-actions ng-if="!city.finished_at" city="city" role-id="roleId" resident="resident" action-results="actionResults" action-results-by-type="actionResultsByType"></special-actions>

        </div>
        <div class="col-md-6">

            <div ng-hide="isLoadingActionResults">
                <private-news-feed city="city" role-id="roleId" resident="resident" action-results="actionResults" is-loading-action-results="isLoadingActionResults" day-number-min="dayNumberMin" day-number-max="dayNumberMax" has-earlier-action-results="hasEarlierActionResults"  load-earlier-action-results="loadEarlierActionResults" has-more-recent-action-results="hasMoreRecentActionResults" load-more-recent-action-results="loadMoreRecentActionResults"></private-news-feed>

                <button class="btn btn-link col-md-3" ng-show="hasMoreRecentActionResults()" ng-click="loadMoreRecentActionResults()">< More Recent</button>
                <div class="col-md-3" ng-hide="hasMoreRecentActionResults()"></div>
                <div class="col-md-6" style="text-align: center; font-size: 120%; margin-top: 5px;">Days {{dayNumberMin}} - {{dayNumberMax}}</div>
                <button class="btn btn-link col-md-3" style="float: right; text-align: right;" ng-show="hasEarlierActionResults()" ng-click="loadEarlierActionResults()">Earlier ></button>
                <div style="clear: both;"></div>
            </div>
            <loader size="large" ng-show="isLoadingActionResults" center></loader>
        </div>

    </tab>

    <tab active="tabActive[2]">
        <tab-heading>
            <i class="glyphicon glyphicon-info-sign"></i> Info
        </tab-heading>

        <doctor-description></doctor-description>


    </tab>
</tabset>