<citizen-description ng-if="roleId == roleIds.ROLE_ID_CITIZEN"></citizen-description>
<doctor-description ng-if="roleId == roleIds.ROLE_ID_DOCTOR"></doctor-description>
<detective-description ng-if="roleId == roleIds.ROLE_ID_DETECTIVE"></detective-description>
<mob-description ng-if="roleId == roleIds.ROLE_ID_MOB"></mob-description>
<sheriff-description ng-if="roleId == roleIds.ROLE_ID_SHERIFF"></sheriff-description>
<teller-description ng-if="roleId == roleIds.ROLE_ID_TELLER"></teller-description>
<terrorist-description ng-if="roleId == roleIds.ROLE_ID_TERRORIST"></terrorist-description>
<journalist-description ng-if="roleId == roleIds.ROLE_ID_JOURNALIST"></journalist-description>
<fugitive-description ng-if="roleId == roleIds.ROLE_ID_FUGITIVE"></fugitive-description>
<deputy-description ng-if="roleId == roleIds.ROLE_ID_DEPUTY"></deputy-description>
<ambivalent-citizen-description ng-if="roleId == roleIds.ROLE_ID_AMBIVALENT_CITIZEN"></ambivalent-citizen-description>
