<div id="content-header">
    <div class="title">
        MAFIA
        <img src="/Mafia/content/img/cigar.png"/>
    </div>

    <div id="header-auth">
        <auth></auth>
    </div>
</div>


<div id="content-body">
    <div style="clear: both">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>





    <div class="cities">
        <tabset>
            <tab select="tabSelected(0)">
                <tab-heading>
                    <i class="glyphicon glyphicon-home"></i> My cities
                </tab-heading>

                <div class="cities-top-button-controls-bar">
                    <button ng-click="newCity()" ng-if="appPermissionCreateGamesGranted || user.unused_game_purchases.length" class="btn btn-create-new-city"><i class="glyphicon glyphicon-plus"></i>Create new city</button>
                    <p ng-if="!appPermissionCreateGamesGranted && user.unused_game_purchases.length">You can start {{user.unused_game_purchases.length}} more {{user.unused_game_purchases.length == 1 ? 'city' : 'cities'}}.</p>
                </div>

                <div class="col-md-6 my-cities-with-filters">
                    <div style="width: 100%;">
                        <ac-checkbox ng-model="myCitiesFilterModel.isMember">
                            <i class="glyphicon glyphicon-unchecked unchecked"></i>
                            <i class="fa fa-user checked"></i>
                            Member
                        </ac-checkbox>
                        <ac-checkbox ng-model="myCitiesFilterModel.isJoinRequested">
                            <i class="glyphicon glyphicon-unchecked unchecked"></i>
                            <i class="fa fa-question-circle checked"></i>
                            Requested to Join
                        </ac-checkbox>
                        <ac-checkbox ng-model="myCitiesFilterModel.isInvited">
                            <i class="glyphicon glyphicon-unchecked unchecked"></i>
                            <i class="fa fa-envelope checked"></i>
                            Invited
                        </ac-checkbox>

                    </div>

                    <table interactive-table selected-row-id="selectedMyCities.rowId" class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td style="text-align: center;">Membership</td>
                            <td style="text-align: center;">Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="city in myCities | filterMyCities:myCitiesFilterModel" ng-class="classNameForMyCitiesRow(city)">
                            <input type="hidden" name="id" value="{{ city.id }}">
                            <td>{{city.name}}</td>
                            <td style="text-align: center;">
                                <i class="fa fa-user" ng-if="city.is_member"></i>
                                <i class="fa fa-question-circle" ng-if="city.is_join_requested"></i>
                                <i class="fa fa-envelope" ng-if="city.is_invited"></i>
                            </td>
                            <td style="text-align: center;">
                                <img-city-status city="city"></img-city-status>
                            </td>
                        </tr>
                        <tr ng-if="isLoadingContentMyCities">
                            <td colspan="3" style="text-align: center">
                                <loader size='small'></loader>
                            </td>
                        </tr>
                        <tr ng-show="showLoadAdditionalMyCitiesButton">
                            <td colspan="3">
                                <button class="btn btn-block" ng-click="reloadMyCities()">More</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </tab>

            <tab select="tabSelected(1)">
            <tab-heading>
                <i class="glyphicon glyphicon-globe"></i> All cities
            </tab-heading>

            <div class="cities-top-button-controls-bar">
                <button ng-click="newCity()" ng-if="appPermissionCreateGamesGranted || user.unused_game_purchases.length" class="btn btn-create-new-city"><i class="glyphicon glyphicon-plus"></i>Create new city</button>
                <p ng-if="!appPermissionCreateGamesGranted && user.unused_game_purchases.length">You can start {{user.unused_game_purchases.length}} more {{user.unused_game_purchases.length == 1 ? 'city' : 'cities'}}.</p>
            </div>

            <div class="col-md-6 all-cities-with-filters">
                <div style="width: 100%">
                    <ac-checkbox ng-model="allCitiesFilterModel.public">
                        <i class="glyphicon glyphicon-unchecked unchecked"></i>
                        <i class="glyphicon glyphicon-eye-open checked"></i>
                        Public
                    </ac-checkbox>
                    <ac-checkbox ng-model="allCitiesFilterModel.private">
                        <i class="glyphicon glyphicon-unchecked unchecked"></i>
                        <i class="glyphicon glyphicon-eye-close checked"></i>
                        Private
                    </ac-checkbox>

                </div>
                <table interactive-table selected-row-id="selectedAllCities.rowId" class="table">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td style="text-align: center">Visibility</td>
                        <td style="text-align: center">Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="city in allCities | filterAllCities:allCitiesFilterModel" ng-class="classNameForAllCitiesRow(city)">
                        <input type="hidden" name="id" value="{{ city.id }}">
                        <td>{{city.name}}</td>
                        <td style="text-align: center">
                            <i class="glyphicon glyphicon-eye-close" ng-if="!city.public"></i>
                            <i class="glyphicon glyphicon-eye-open" ng-if="city.public"></i>
                        </td>
                        <td style="text-align: center;">
                            <img-city-status city="city"></img-city-status>
                        </td>
                    </tr>
                    <tr ng-show="isLoadingContentAllCities">
                        <td colspan="3" style="text-align: center">
                            <loader size='small'></loader>
                        </td>
                    </tr>
                    <tr ng-hide="showLoadAdditionalAllCitiesButton">
                        <td colspan="3">
                            <button class="btn btn-block" ng-click="reloadAllCities()">More</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </tab>


        <tab select="tabSelected(2)">
            <tab-heading>
                <i class="glyphicon glyphicon-info-sign"></i> Info
            </tab-heading>

            <div class="col-md-12 cities-info-tab" ng-include src="'app/static/cities/info.html'">

            </div>

            <dir-disqus disqus-shortname="mafiafer" disqus-identifier="{{ url }}" disqus-url="{{ url }}" ready-to-bind="{{ !isLoadingContentAllCities }}"></dir-disqus>


        </tab>

        </tabset>

        <div class="col-md-6 selected-city-right-div" ng-if="selectedCity">
            <table class="table sidetable">
                <thead>
                <tr>
                    <td colspan="2">Details</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{selectedCity.name}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{selectedCity.description}}</td>
                </tr>
                <tr>
                    <td>Creator</td>
                    <td>{{selectedCity.user_creator_username}}</td>
                </tr>
                <tr>
                    <td>Timezone</td>
                    <td><timezone minutes="selectedCity.timezone"></timezone></td>
                </tr>
                <tr>
                    <td>Started</td>
                    <td><img-bool boolean-value="selectedCity.started_at"></img-bool></td>
                </tr>
                <tr>
                    <td>Started at</td>
                    <td>{{selectedCity.started_at | localeDate}}</td>
                </tr>
                <tr ng-if="selectedCity.paused">
                    <td>Paused</td>
                    <td><img-bool boolean-value="selectedCity.paused"></img-bool></td>
                </tr>
                <tr ng-if="selectedCity.finished_at">
                    <td>Finished at</td>
                    <td>{{selectedCity.finished_at | localeDate}}</td>
                </tr>
                </tbody>
            </table>

            <button ng-if="showEditButtonForCity(selectedCity)" ng-click="editCity(selectedCity)" class="btn btn-edit-city"><i class="glyphicon glyphicon-cog"></i>Edit</button>
            <button ng-if="!showEditButtonForCity(selectedCity)" ng-click="showCity(selectedCity)" class="btn btn-details-city"><i class="glyphicon glyphicon-dashboard"></i>Details</button>
            <button ng-if="showEnterButtonForCity(selectedCity)" ng-click="enterCity(selectedCity)" class="btn btn-enter-city"><i class="fa fa-gamepad"></i>Enter</button>
            <button ng-if="showJoinButtonForCity(selectedCity)" ng-click="joinCity(selectedCity)" class="btn btn-join-city"><i class="glyphicon glyphicon-plus-sign"></i>Join</button>
            <button ng-if="showAcceptInvitationButtonForCity(selectedCity)" ng-click="acceptInvitationForCity(selectedCity)" class="btn btn-accept-invitation-city"><i class="glyphicon glyphicon-ok-circle"></i>Accept Invitation</button>

            <button ng-if="showLeaveButtonForCity(selectedCity)" ng-click="leaveCity(selectedCity)" class="btn btn-leave-city"><i class="glyphicon glyphicon-remove"></i>Leave</button>
            <button ng-if="showCancelJoinRequestForCity(selectedCity)" ng-click="cancelJoinRequestForCity(selectedCity)" class="btn btn-cancel-join-request-city"><i class="glyphicon glyphicon-remove-circle"></i>Cancel Join Request</button>


            <loader ng-if="isPerformingCityOperation" size="small"></loader>

            <div style="clear: both"></div>
        </div>

        <div style="clear: both"></div>
    </div>

    <div style="clear: both"></div>
</div>

