<div>
    <div style="clear: both">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div>
        <button ng-click="newCity()" ng-if="appPermissionCreateGamesGranted" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Create new city</button>
    </div>



    <div class="col-md-12 nopadding">
        <tabset>
            <tab select="tabSelected(0)">
                <tab-heading>
                    <i class="glyphicon glyphicon-home"></i> My cities
                </tab-heading>

                <div class="col-md-6 nopadding">
                    <div class="btn-group" style="width: 100%">
                        <label class="btn btn-success" style="width: 34%" ng-model="myCitiesFilterModel.isMember" btn-checkbox>Already a Member</label>
                        <label class="btn btn-warning" style="width: 33%" ng-model="myCitiesFilterModel.isJoinRequested" btn-checkbox>Requested to Join</label>
                        <label class="btn btn-primary" style="width: 33%" ng-model="myCitiesFilterModel.isInvited" btn-checkbox>Invited</label>
                    </div>

                    <table interactive-table selected-row-id="selectedMyCities.rowId" class="table">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td style="text-align: center;">Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="city in myCities | filterMyCities:myCitiesFilterModel" ng-class="classNameForMyCitiesRow(city)">
                            <input type="hidden" name="id" value="{{ city.id }}">
                            <td>{{city.name}}</td>
                            <td style="text-align: center;">
                                <img-city-status city="city"></img-city-status>
                            </td>
                        </tr>
                        <tr ng-if="isLoadingContentMyCities">
                            <td colspan="2" style="text-align: center">
                                <loader size='small'></loader>
                            </td>
                        </tr>
                        <tr ng-hide="isLoadingContentMyCities">
                            <td colspan="2">
                                <button class="btn btn-block" ng-click="reloadMyCities()" ng-hide="noMoreContentMyCities">More</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </tab>

            <tab select="tabSelected(1)">
            <tab-heading>
                <i class="glyphicon glyphicon-globe"></i> All cities
            </tab-heading>

            <div class="col-md-6 nopadding">
                <div class="btn-group" style="width: 100%">
                    <label class="btn btn-info" style="width: 50%" ng-model="allCitiesFilterModel.public" btn-checkbox>Public</label>
                    <label class="btn btn-warning" style="width: 50%" ng-model="allCitiesFilterModel.private" btn-checkbox>Private</label>
                </div>
                <table interactive-table selected-row-id="selectedAllCities.rowId" class="table">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td style="text-align: center">Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="city in allCities | filterAllCities:allCitiesFilterModel" ng-class="classNameForAllCitiesRow(city)">
                        <input type="hidden" name="id" value="{{ city.id }}">
                        <td>{{city.name}}</td>
                        <td style="text-align: center;">
                            <img-city-status city="city"></img-city-status>
                        </td>
                    </tr>
                    <tr ng-if="isLoadingContentAllCities">
                        <td colspan="2" style="text-align: center">
                            <loader size='small'></loader>
                        </td>
                    </tr>
                    <tr ng-hide="isLoadingContentAllCities">
                        <td colspan="2">
                            <button class="btn btn-block" ng-click="reloadAllCities()" ng-hide="noMoreContentAllCities">More</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </tab>


        <tab select="tabSelected(2)">
            <tab-heading>
                <i class="glyphicon glyphicon-info-sign"></i> Info
            </tab-heading>

            <accordion close-others="false">
                <accordion-group heading="Overview" is-open="true">
                    Games are listed as <i>cities</i>. Players of a game are residents of that city. <br/>

                    Most of the residents in a city are innocent people.
                    But there is a mysterious small group of people in each city that form <b>the Mafia</b>.
                    Nobody of <i>the innocents</i> knows who these people are, but they know each other among themselves.
                    <br/>

                    The essence of this game is a competition between two <b>teams</b> - <b>the Citizens</b> and <b>the Mafia</b>. </br>

                    The objective for <b>the Citizens</b> is to kill every Mafia member. </br>
                    The objective for <b>the Mafia</b> is to kill enough citizens so that mafia members become 50% of entire city's population or more. </br>

                    If either of these two objectives are completed, the game is over. </br>

                    After the game is started, a city repeatedly goes through <b>day and night phases</b>. </br>

                    The <b>killings</b> occur in one of the following ways:
                    <ul>
                        <li>
                            During each night, mafia members vote who they want to kill. The resident that gets the most votes, will be dead the next morning.
                            In this secret internal voting, mafia members need to be harmonized:
                            strictly more than half (>50%) of alive mafia members need to vote for the same resident in order for mafia hit to be successful.
                        </li>
                        <li>
                            During each day, citizens organize a public voting - a lynch. The idea is to vote for a resident that is believed to be a part of the Mafia.
                            A resident that gets the most votes is executed at the end of the day. (Votes don't have to be >50%) </br>
                            Every living resident in town (including the Mafia members) has access to this public voting.
                        </li>
                    </ul>

                    <br/>
                    <br/>

                    If you die during the game, that <b>does NOT</b> mean you lost the game.
                    The fact you died merely means that your votes and actions no longer count and they don't affect the state of the game.
                    As mentioned earlier, the game is a competition between <b>teams</b>. That means you either <b>lose as a team, or win as a team</b>. <br/>

                    <br/>

                    The only problem may be that, at first, you don't even know who else is on your team with you :).


                </accordion-group>

                <accordion-group heading="Roles">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Action Types</td>
                                <td>Description</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3" style="text-align: center">Citizens</td>
                            </tr>
                            <tr ng-repeat="role in allRoles | filter : {affiliation: {id : affiliationIds.AFFILIATION_ID_CITIZENS}}">
                                <td>{{role.name}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="actionType in role.action_types">
                                            {{actionType.name}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <role-description role-id="role.id"></role-description>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: center">Mafia</td>
                            </tr>
                            <tr ng-repeat="role in allRoles | filter : {affiliation: {id : affiliationIds.AFFILIATION_ID_MAFIA}}">
                                <td>{{role.name}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="actionType in role.action_types">
                                            {{actionType.name}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <role-description role-id="role.id"></role-description>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </accordion-group>

                <accordion-group heading="Advanced">
                    <h3>Screenshots</h3>

                    People you are playing with requested you to prove your role by sending them a screenshot when you log into the game. <br/>
                    <br/>

                    This is not a problem. Every piece of data that is displayed when you log into the game can be altered. Just double click on it. <br/>
                    <br/>

                    Be careful, though. Once you alter something, there is no <i>undo</i> option. Why? Because that would be another way of getting to the authentic information.
                    The authentic information about your true role can be received only on first login to the game. After that point, the only place it cannot be deleted from is your head. Everything can be modified. <br/>
                    <br/>


                    Important thing to keep in mind. When you change your role, you haven't actually <i>changed your role</i>.
                    You merely changed your <b>acting role</b>. That is, you changed the role that you are pretending to be. Up to this point you were also pretending to be a certain game role. The only difference is that you've been pretending to be a role that in fact is your true game role. <br/>
                    <br/>

                    When you are voting or doing some other special activities in the game, all you are actually doing is submitting <b>actions</b> to the server. <br/>
                    When the time comes, the server classifies all actions as <b>valid</b>, <b>void</b> or <b>malformed</b>.

                    If you are not changing your acting role. That is, if you are playing fair/straight and use the role
                    you were assigned at the start of the game, all your actions will be <b>valid</b>.
                    This means your actions will produce <b>valid results</b>.
                    Valid results are the results that reflect the actual state of the game. <br/>

                    <br/>

                    <b>For example</b>, if your true role in the game is <b>Detective</b>. You decide to investigate <i>playerA</i>. On the following morning, in your <i>Special</i> tab, you receive a notification: "PlayerA is not a mafia member." <br/>

                    Because your investigation action was <b>valid</b>, you can trust the notification you received to be telling the truth. <br/>

                    <br/>

                    If, on the other hand, your true role in the game is <b>Citizen</b> and you decide to change your acting role to <b>Detective</b>.
                    You go to your <i>Special</i> tab and all of the Detective's abilities are at your disposal, just like that is your true role.
                    You decide to investigate <i>playerA</i>. On the next morning, you log in and check your <i>Special</i> tab.
                    There you find a new notification saying "PlayerA is a mafia member.". <br/>

                    <br/>

                    Since you submitted the investigation action assuming the role that is not truly yours, the server classified your action as <b>void</b>.
                    Most commonly, void actions produce results that are random. In other words, you could have easily get the notification "PlayerA is <b>not</b> a mafia member.". <br/>
                    That being said, you cannot trust anything that comes as a result of a void action. <br/>

                    <br/>

                    <b>Malformed</b> actions are actions that make no sense. Such actions are impossible to submit without using developer tools for submitting custom HTTP requests.
                    An example of such request would be a user acting as a <b>Doctor</b> submitting an <b>Investigate</b> action. Malformed actions produce no results whatsoever. <br/>

                    <br/>
                    <br/>

                    When a player dies, they can still submit actions.
                    All actions that would be classified as <b>valid</b> if the player was alive are now classified as <b>void</b>.
                    This is to enable future roles and features that would enable deceiving players into thinking that some players are dead even if they aren't.
                </accordion-group>
            </accordion>





            <dir-disqus disqus-shortname="mafiafer" disqus-identifier="{{ url }}" disqus-url="{{ url }}" ready-to-bind="{{ !isLoadingContentAllCities }}"></dir-disqus>


        </tab>
        </tabset>

        <div class="col-md-6" ng-if="selectedCity">
            <table class="table sidetable">
                <thead>
                <tr>
                    <td colspan="2">Details</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{selectedCity.name}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{selectedCity.description}}</td>
                </tr>
                <tr>
                    <td>Creator</td>
                    <td>{{selectedCity.user_creator_username}}</td>
                </tr>
                <tr>
                    <td>Timezone</td>
                    <td><timezone minutes="selectedCity.timezone"></timezone></td>
                </tr>
                <tr>
                    <td>Started</td>
                    <td><img-bool boolean-value="selectedCity.started_at"></img-bool></td>
                </tr>
                <tr>
                    <td>Started at</td>
                    <td>{{selectedCity.started_at | localeDate}}</td>
                </tr>
                <tr ng-if="selectedCity.paused">
                    <td>Paused</td>
                    <td><img-bool boolean-value="selectedCity.paused"></img-bool></td>
                </tr>
                <tr ng-if="selectedCity.finished_at">
                    <td>Finished at</td>
                    <td>{{selectedCity.finished_at | localeDate}}</td>
                </tr>
                </tbody>
            </table>

            <button ng-if="showEditButtonForCity(selectedCity)" ng-click="editCity(selectedCity)" class="btn btn-primary"><i class="glyphicon glyphicon-cog"></i>Edit</button>
            <button ng-if="!showEditButtonForCity(selectedCity)" ng-click="showCity(selectedCity)" class="btn btn-info"><i class="glyphicon glyphicon-dashboard"></i>Details</button>
            <button ng-if="showEnterButtonForCity(selectedCity)" ng-click="enterCity(selectedCity)" class="btn btn-success"><i class="glyphicon glyphicon-briefcase"></i>Enter</button>
            <button ng-if="showJoinButtonForCity(selectedCity)" ng-click="joinCity(selectedCity)" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i>Join</button>
            <button ng-if="showAcceptInvitationButtonForCity(selectedCity)" ng-click="acceptInvitationForCity(selectedCity)" class="btn btn-success"><i class="glyphicon glyphicon-ok-circle"></i>Accept Invitation</button>

            <button ng-if="showLeaveButtonForCity(selectedCity)" ng-click="leaveCity(selectedCity)" class="btn btn-danger"><i class="glyphicon glyphicon-road"></i>Leave</button>
            <button ng-if="showCancelJoinRequestForCity(selectedCity)" ng-click="cancelJoinRequestForCity(selectedCity)" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i>Cancel Join Request</button>


            <loader ng-if="isPerformingCityOperation" size="small"></loader>
        </div>
    </div>


</div>

