<div id="info-box">
    <alert ng-repeat="alert in infos" type="alert.type" close="closeInfoAlert($index)">{{alert.msg}}</alert>
</div>
<div ng-hide="isLoading">

    <table class="table">
        <tr>
            <td>Username</td>
            <td colspan="2">{{ user.username }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td colspan="2"><input type="text" ng-model="user.email"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" ng-model="user.new_password"></td>
            <td><i>(Leave blank to leave password unchanged)</i></td>
        </tr>
        <tr>
            <td>Repeat new password</td>
            <td><input type="password" ng-model="user.repeat_new_password"></td>
            <td><i>(Leave blank to leave password unchanged)</i></td>
        </tr>
        <tr ng-if="user.id">
            <td>Automatically join the game when invited</td>
            <td colspan="2"><input type="checkbox" ng-model="user.user_preference.automatically_join_when_invited"></td>
        </tr>
        <tr ng-if="user.id">
            <td>Receive email when invited/added to the game</td>
            <td colspan="2"><input type="checkbox" ng-model="user.user_preference.receive_notifications_when_added_to_game"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button ng-click="deleteUser()" class="btn btn-danger">Delete</button>
                <button ng-click="save()" class="btn btn-success">Save</button>
            </td>
            <td></td>
        </tr>
    </table>
    <br>

</div>

<div ng-show="isLoading">
    <loader size="large"></loader>
</div>

<script type="text/ng-template" id="saveModalContent.html">
    <div class="modal-header">
        <div>
            <h3 style="display: inline">Update user?</h3>
        </div>
    </div>
    <div class="modal-body">
        Enter password: <input type="password" ng-model="credentials.password">
    </div>

    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    <button ng-click="ok()" class="btn btn-danger">Confirm</button>
</script>

<script type="text/ng-template" id="deleteModalContent.html">
    <div class="modal-header">
        <div>
            <h3 style="display: inline">Delete this user?</h3> <h3 style="display: inline; color: red;">*</h3>
        </div>
        <p style="color:red; display: inline"> * </p> - cannot be undone
    </div>
    <div class="modal-body">
        Enter password: <input type="password" ng-model="credentials.password">
    </div>

    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    <button ng-click="ok()" class="btn btn-danger">Confirm</button>
</script>