<div ng-if="!editMode">
    Detonation delay: {{ actionTypeParams ? actionTypeParams.detonation_delay : '5m' }}
    Number of collateral victims: {{ actionTypeParams ? actionTypeParams.number_of_collaterals : 1 }}

    <button class="btn btn-default notext btn-toggle-edit-mode btn-toggle-edit-mode-small" ng-click="toggleMode()" tooltip="Alter"><i class="glyphicon glyphicon-edit"></i></button>

</div>
<div ng-if="editMode">


    Detonation delay: <input type="number" ng-model="detonationProps.detonationNumber" ng-change="detonationNumberDidChange()">
    <select ng-model="detonationProps.detonationTimeInterval" ng-change="detonationTimeIntervalDidChange()">
        <option value="s"> seconds </option>
        <option value="m"> minutes </option>
        <option value="h"> hours </option>
    </select>

    <br/>

    Number of collateral victims: <input type="number" ng-model="actionTypeParams.number_of_collaterals" ng-change="numberOfCollateralsDidChange()">
</div>