<div id="content-header">
    <div id="header-auth">
        <auth></auth>
    </div>

    <div class="title textonly"> Admin </div>

    <div style="clear: both">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div style="height: 1px;"></div>
</div>

<div id="content-body">
    <tabset>
        <tab active="tabActive[0]" select="tabSelected()">
            <tab-heading>
                Users
            </tab-heading>

            <users-list query-model="usersQueryModel" queryable="true"></users-list>

        </tab>

        <tab active="tabActive[1]" select="tabSelected()">
            <tab-heading>
                Cities
            </tab-heading>

            <cities-list query-model="citiesQueryModel" queryable="true"></cities-list>

        </tab>


        <tab active="tabActive[2]" select="tabSelected()">
            <tab-heading>
                Residents
            </tab-heading>

            <residents-list query-model="residentsQueryModel" queryable="true"></residents-list>

        </tab>


        <tab active="tabActive[3]" select="tabSelected()">
            <tab-heading>
                Actions
            </tab-heading>

            <actions-list query-model="actionsQueryModel" queryable="true"></actions-list>

        </tab>



        <tab active="tabActive[4]" select="tabSelected()">
            <tab-heading>
                Action Results
            </tab-heading>

            <action-results-list query-model="actionResultsQueryModel" queryable="true"></action-results-list>

        </tab>


        <tab active="tabActive[5]" select="tabSelected()">
            <tab-heading>
                Days
            </tab-heading>

            <days-list query-model="daysQueryModel" queryable="true"></days-list>

        </tab>


        <tab active="tabActive[6]" select="tabSelected()">
            <tab-heading>
                Initial App Roles
            </tab-heading>

            <initial-app-roles-list query-model="initialAppRolesQueryModel" queryable="true" enable-creating="userMe.app_role.app_permissions[appPermissions.APP_PERMISSION_ADMIN_WRITE]"></initial-app-roles-list>

        </tab>


        <tab active="tabActive[7]" select="tabSelected()">
            <tab-heading>
                Purchases
            </tab-heading>

            <tabset>
                <tab>
                    <tab-heading>
                        Payments
                    </tab-heading>

                    <payments-list query-model="paymentsQueryModel" queryable="true" enable-creating="userMe.app_role.app_permissions[appPermissions.APP_PERMISSION_ADMIN_WRITE]"></payments-list>
                </tab>

                <tab>
                    <tab-heading>
                        Subscriptions
                    </tab-heading>

                    <subscriptions-list query-model="subscriptionsQueryModel" queryable="true" enable-creating="userMe.app_role.app_permissions[appPermissions.APP_PERMISSION_ADMIN_WRITE]"></subscriptions-list>
                </tab>

                <tab>
                    <tab-heading>
                        Game Purchases
                    </tab-heading>

                    <game-purchases-list query-model="gamePurchasesQueryModel" queryable="true" enable-creating="userMe.app_role.app_permissions[appPermissions.APP_PERMISSION_ADMIN_WRITE]"></game-purchases-list>
                </tab>

                <tab>
                    <tab-heading>
                        Role Pick Purchases
                    </tab-heading>

                    <role-pick-purchases-list query-model="rolePickPurchasesQueryModel" queryable="true" enable-creating="userMe.app_role.app_permissions[appPermissions.APP_PERMISSION_ADMIN_WRITE]"></role-pick-purchases-list>
                </tab>
            </tabset>


        </tab>
    </tabset>
</div>