<div id="content-header">
    <div id="header-auth">
        <auth></auth>
    </div>

    <div class="title textonly small">Game Purchase</div>

    <div>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="admin-edit-entity-button-controls game-purchase-button-controls">
        <button class="btn btn-back" ng-click="cancel()">Back</button>
        <button class="btn btn-save" ng-click="saveGamePurchase()" ng-if="canSave" ng-hide="isProcessing">Save</button>
        <button class="btn btn-delete" ng-click="deleteGamePurchase()" ng-if="canDelete" ng-hide="isProcessing">Delete</button>
        <loader size="small" ng-show="isProcessing"></loader>
    </div>
</div>

<div id="content-body" class="game-purchase">
    <table class="table sidetable" ng-if="canEdit">
        <tbody>

        <tr ng-if="inspectedGamePurchase.id">
            <td>Id</td>
            <td> {{ inspectedGamePurchase.id }} </td>
        </tr>

        <tr>
            <td>Existing Payment Log?</td>
            <td> <input type="checkbox" ng-model="inspectedGamePurchase.existingPaymentLog" ng-disabled="inspectedGamePurchase.payment_log.id != null"> </td>
        </tr>

        <tr ng-show="inspectedGamePurchase.existingPaymentLog">
            <td> Payment Log Id </td>
            <td> <input type="number" ng-model="inspectedGamePurchase.payment_log.id" step="1"> </td>
        </tr>
        <tr ng-show="inspectedGamePurchase.existingPaymentLog">
            <td>User</td>
            <td>{{ inspectedGamePurchase.user_id }} {{ inspectedGamePurchase.user.username }} {{ inspectedGamePurchase.user_email }}</td>
        </tr>

        <tr ng-hide="inspectedGamePurchase.existingPaymentLog">
            <td>User</td>
            <td>
                <input type="text" ng-model="tempUser.username" placeholder="Username" typeahead="user.username for user in getUsersByUsername($viewValue)" typeahead-loading="loadingUsers" typeahead-on-select="selectUser($item)" typeahead-wait-ms="300" typeahead-min-length=2>
                <loader size="small" ng-show="loadingUsers"></loader>
                Currently selected: {{inspectedGamePurchase.user.username}}
            </td>
        </tr>

        <tr>
            <td>City</td>
            <td>
                <input type="text" ng-model="tempCity.name" placeholder="City Name" typeahead="city.name for city in getCitiesByName($viewValue)" typeahead-loading="loadingCities" typeahead-on-select="selectCity($item)" typeahead-wait-ms="300" typeahead-min-length=2>
                <loader size="small" ng-show="loadingCities"></loader>
                Currently selected: {{ inspectedGamePurchase.city.name }}
            </td>
        </tr>

        <tr>
            <td>City Started At</td>
            <td>{{ inspectedGamePurchase.city_started_at | localeDate }}</td>
        </tr>

        <tr ng-if="inspectedGamePurchase.created_at">
            <td>Created At</td>
            <td>{{ inspectedGamePurchase.created_at | localeDate }}</td>
        </tr>

        <tr ng-if="inspectedGamePurchase.updated_at">
            <td>Updated At</td>
            <td>{{ inspectedGamePurchase.updated_at | localeDate }}</td>
        </tr>


        </tbody>
    </table>


    <table class="table sidetable" ng-if="!canEdit">
        <tbody>

        <tr>
            <td>Id</td>
            <td> {{ inspectedGamePurchase.id }} </td>
        </tr>

        <tr>
            <td> Payment Log Id</td>
            <td>
                {{ inspectedGamePurchase.payment_log.id }}
            </td>
        </tr>

        <tr>
            <td>User</td>
            <td>{{ inspectedGamePurchase.user_id }} {{ inspectedGamePurchase.user.username }} {{ inspectedGamePurchase.user_email }}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                {{ inspectedGamePurchase.city_name }}
            </td>
        </tr>

        <tr>
            <td>City Started At</td>
            <td>{{ inspectedGamePurchase.city_started_at | localeDate }}</td>
        </tr>

        <tr ng-if="inspectedGamePurchase.created_at">
            <td>Created At</td>
            <td>{{ inspectedGamePurchase.created_at | localeDate }}</td>
        </tr>

        <tr ng-if="inspectedGamePurchase.updated_at">
            <td>Updated At</td>
            <td>{{ inspectedGamePurchase.updated_at | localeDate }}</td>
        </tr>


        </tbody>
    </table>
</div>

<script type="text/ng-template" id="deleteModalContent.html">
    <div class="modal-popup">
        <div class="modal-header">
            <div>
            <h3 style="display: inline">Delete this game purchase?</h3> <h3 style="display: inline; color: red;">*</h3>
            </div>
            <p style="color:red; display: inline"> * </p> - cannot be undone
        </div>
        <div class="bottom-buttons">
            <button ng-click="cancel()" class="btn btn-back">Cancel</button>
            <button ng-click="ok()" class="btn btn-delete">Confirm</button>
        </div>
    </div>
</script>
