<div>
    <table class="table sidetable">
        <tbody>
        <tr>
            <td></td>
            <td>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </td>
        </tr>

        <tr>
            <td>Description</td>
            <td> <textarea ng-model="inspectedInitialAppRole.description"></textarea> </td>
        </tr>

        <tr>
            <td>Email</td>
            <td> <input type="text" ng-model="inspectedInitialAppRole.email"> </td>
        </tr>

        <tr>
            <td>Email Pattern</td>
            <td> <input type="text" ng-model="inspectedInitialAppRole.email_pattern"> </td>
        </tr>

        <tr>
            <td>App Role</td>
            <td>
                <select ng-model="inspectedInitialAppRole.app_role.id" ng-options="appRole.id as appRole.name for appRole in appRoles">
                </select>
            </td>
        </tr>

        <tr>
            <td>Priority</td>
            <td> <input type="number" ng-model="inspectedInitialAppRole.priority"> </td>
        </tr>

        <tr>
            <td>Enabled</td>
            <td> <input type="checkbox" ng-model="inspectedInitialAppRole.enabled"> </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button class="btn btn-default" ng-click="cancel()">Back</button>
                <button class="btn btn-success" ng-click="saveInitialAppRole()" ng-if="canSave">Save</button>
                <button class="btn btn-danger" ng-click="deleteInitialAppRole()" ng-if="canDelete">Delete</button>
                <loader size="small" ng-if="isProcessing"></loader>
            </td>
        </tr>


        </tbody>
    </table>
</div>

<script type="text/ng-template" id="deleteModalContent.html">
    <div class="modal-header">
        <div>
        <h3 style="display: inline">Delete this initial app role?</h3> <h3 style="display: inline; color: red;">*</h3>
        </div>
        <p style="color:red; display: inline"> * </p> - cannot be undone
    </div>

    <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    <button ng-click="ok()" class="btn btn-danger">Confirm</button>
</script>
