<div id="content-header">
    <div id="header-auth">
        <auth></auth>
    </div>

    <div class="title textonly small">User: {{inspectedUser.username}}</div>

    <div>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="admin-user-button-controls">
        <button class="btn btn-back" ng-click="cancel()" ng-hide="isProcessing">Back</button>
        <button class="btn btn-save" ng-click="saveUser()" ng-if="canSave" ng-hide="isProcessing">Save</button>
        <button class="btn btn-delete" ng-click="deleteUser()" ng-if="canDelete" ng-hide="isProcessing">Delete</button>
        <button class="btn btn-explore" ng-click="impersonate()" ng-if="roleEditable" ng-hide="isProcessing">Impersonate</button>
        <loader size="small" ng-if="isProcessing"></loader>
    </div>
</div>

<div id="content-body" class="admin-user">
    <table class="table sidetable">
        <tbody>

        <tr>
            <td>Username</td>
            <td colspan="3">{{inspectedUser.username}}</td>
        </tr>

        <tr>
            <td>Email</td>
            <td colspan="3">{{inspectedUser.email}}</td>
        </tr>

        <tr>
            <td>Email Confirmed</td>
            <td style="text-align: center">
                <img-bool boolean-value="inspectedUser.email_confirmed" ng-hide="canAlterEmailConfirmed"></img-bool>
                <input type="checkbox" ng-model="inspectedUser.email_confirmed" ng-if="canAlterEmailConfirmed">
            </td>
            <td><button class="btn btn-explore" ng-click="resendConfirmationEmail()">Resend Confirmation Email</button></td>
            <td><loader size="small" ng-if="isSendingConfirmationEmail"></loader> </td>
        </tr>

        <tr>
            <td>Confirmation Code Used</td>
            <td colspan="3" style="text-align: center">
                <img-bool boolean-value="inspectedUser.email_confirmation_code_exchanged" ng-hide="canAlterEmailConfirmed"></img-bool>
                <input type="checkbox" ng-model="inspectedUser.email_confirmation_code_exchanged" ng-if="canAlterEmailConfirmed">
            </td>
        </tr>

        <tr>
            <td>Default App Role</td>
            <td colspan="3" ng-if="roleEditable">
                <select ng-model="inspectedUser.default_app_role.id" ng-options="appRole.id as appRole.name for appRole in appRoles">
                </select>
            </td>
            <td colspan="3" ng-hide="roleEditable">
                {{ inspectedUser.default_app_role.name }}
            </td>
        </tr>
        <tr>
            <td>Effective App Role</td>
            <td colspan="3">
                {{ inspectedUser.app_role.name }}
            </td>
        </tr>

        <tr colspan="3" ng-if="userPreferenceEditable">
            <td>Automatically join the game when invited</td>
            <td> <input type="checkbox" ng-model="inspectedUser.user_preference.automatically_join_when_invited"> </td>
        </tr>

        <tr colspan="3" ng-if="userPreferenceEditable">
            <td>Receive email when invited/added to the game</td>
            <td> <input type="checkbox" ng-model="inspectedUser.user_preference.receive_notifications_when_added_to_game"> </td>
        </tr>

        <tr>
            <td>Created At</td>
            <td colspan="3">{{ inspectedUser.created_at | localeDate }}</td>
        </tr>

        <tr>
            <td>Updated At</td>
            <td colspan="3">{{ inspectedUser.updated_at | localeDate }}</td>
        </tr>



        </tbody>
    </table>
</div>

<script type="text/ng-template" id="deleteModalContent.html">
    <div class="modal-popup">
        <div class="modal-header">
            <div>
            <h3 style="display: inline">Delete this user?</h3> <h3 style="display: inline; color: red;">*</h3>
            </div>
            <p style="color:red; display: inline"> * </p> - cannot be undone
        </div>

        <div class="bottom-buttons">
            <button ng-click="cancel()" class="btn btn-back">Cancel</button>
            <button ng-click="ok()" class="btn btn-delete">Confirm</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="impersonateModalContent.html">
    <div class="modal-popup">
        <div class="modal-header">
            <div>
                <h3 style="display: inline">Impersonating this user means that you as admin will be automatically signed out in order for other user to be signed in. Is that OK?</h3>
            </div>
        </div>

        <div class="bottom-buttons">
            <button ng-click="cancel()" class="btn btn-back">Cancel</button>
            <button ng-click="ok()" class="btn btn-explore">Confirm</button>
        </div>
    </div>
</script>