<teller-votes-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_TELLER_VOTES"></teller-votes-action-type-params-result>

<sheriff-identities-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_SHERIFF_IDENTITIES"></sheriff-identities-action-type-params-result>
<terrorist-bomb-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_TERRORIST_BOMB"></terrorist-bomb-action-type-params-result>

<silent-sheriff-identities-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_SILENT_SHERIFF_IDENTITIES"></silent-sheriff-identities-action-type-params-result>