
<div ng-if="!editMode" ng-dblclick="toggleMode()">
    Day {{ actionResult.day_number }} <img src="content/img/sheriff-identities-icon.png" style="width: 25px;"/> {{ interpretation }}
</div>
<div ng-if="editMode" ng-dblclick="toggleMode()">
    Day <select ng-model="actionResultCopied.day" ng-options="day.number for day in city.days"></select>

    <img src="content/img/sheriff-identities-icon.png" style="width: 25px;"/> {{ interpretation }}

    <button ng-if="isNew" ng-click="hide()"><i class="glyphicon glyphicon-ban-circle"></i></button>
    <button ng-if="!isNew" ng-click="deleteActionResult()"><i class="glyphicon glyphicon-trash"></i></button>
    <button ng-click="submitActionResult()"><i class="glyphicon glyphicon-floppy-disk"></i></button>
</div>