<div ng-dblclick="toggleMode()" ng-if="!editMode">
Day {{ actionResult.day_number }} <i class="fa fa-bomb"></i>
{{ interpretation }}
</div>

<div ng-dblclick="toggleMode()" ng-if="editMode">
    Day <select ng-model="actionResultCopied.day" ng-options="day.number for day in city.days"></select>

    Collaterals
    <div ng-repeat="(index, collateral) in collaterals">
        <a ng-click="deleteCollateralResidentAtIndex(index)">-</a>
        <input ng-if="city.residents" type="text" typeahead-on-select="selectCollateralResident(index, $item)" ng-model="collateral.name" typeahead="otherResident.name for otherResident in city.residents | filter:$viewValue" class="form-control">
    </div>
    <a ng-click="addCollateralResident()">+</a>


    <button class="btn btn-back notext" ng-if="isNew" ng-click="hide()" tooltip="Hide"><i class="glyphicon glyphicon-ban-circle"></i></button>
    <button class="btn btn-delete notext" ng-if="!isNew" ng-click="deleteActionResult()" tooltip="Remove"><i class="glyphicon glyphicon-trash"></i></button>
    <button class="btn btn-save notext" ng-click="submitActionResult()" tooltip="Save"><i class="glyphicon glyphicon-floppy-disk"></i></button>
</div>
