<div id="content-header">
    <div id="header-auth">
        <auth></auth>
    </div>

    <div class="title textonly">{{city.name}}</div>

    <div class="city-info-header">
        <div ng-if="!city.finished_at && !city.paused" class="col-md-3 city-info-box" style="text-align: center;">
            <div ng-show="city.current_day_number !== undefined" style="background-position: 0px 0px">
                <current-day></current-day>
            </div>
        </div>
        <div ng-if="!city.finished_at && !city.paused" class="col-md-3 city-info-box" style="text-align: center;" ng-cloak>
            <div ng-show="city.timezone !== undefined" style="background-position: 0px 50px">
                <city-timer city="city" next-moment="nextMoment" on-day-start="" on-night-start=""></city-timer>

                <div class="day-cycle-phase">

                    <div ng-if="nextMoment && !nextMoment.isDayStart && refreshCountdownTicks == 0"> <i class="fa fa-sun-o fa-3x"></i> DAYTIME</div>
                    <div ng-if="nextMoment && nextMoment.isDayStart && refreshCountdownTicks == 0"> <i class="fa fa-moon-o fa-3x"></i> NIGHTTIME</div>
                    <img ng-if="refreshCountdownTicks > 0" src="content/img/ajax-loader-32.gif" />
                </div>

                <div ng-if="nextMoment.time !== undefined">
                    {{nextMoment.isDayStart ? "Day starts at: " : "Night starts at: "}}
                    {{(nextMoment.time / 60) | minLength:2}}:{{(nextMoment.time % 60) | minLength:2}}
                </div>
            </div>
        </div>
        <div ng-if="city.finished_at" class="col-md-6 city-info-box city-info-box-game-over" ng-cloak>
            <div style="background-position: 0px 50px">
                <img src="content/img/lock-icon.png" style="width: 100px; height: 100px;" />
                Game over. {{ gameOverDeclarationOfWinners }}
            </div>
        </div>
        <div ng-if="city.paused" class="col-md-6 city-info-box city-info-box-game-paused">
            <div style="background-position: 0px 50px">
                <current-day></current-day>

                <div class="day-cycle-phase">
                    <img ng-if="city.paused_during_day" src="content/img/day.png" style="width: 100px; height: 100px;" />
                    <img ng-if="!city.paused_during_day" src="content/img/night.png" style="width: 100px; height: 100px;" />
                </div>

                <img src="content/img/pause-icon.png" style="width: 100px; height: 100px;" />
                Paused at: {{ city.last_paused_at | localeDate }}
            </div>
        </div>


    </div>

    <div class="col-md-3 role-chooser-container city-info-box" ng-if="resident" style="text-align: center;">
        <div class="city-role-info-box" ng-show="resident.role" style="background-position: 0px 100px">
            Your role: <br/>
            <role-chooser city="city" role-id="resident.role.id" role-selected="roleSelected" edit-mode="roleChooserEditMode" enable-role-saving="true"></role-chooser>
        </div>
    </div>
    <div class="col-md-3 city-info-box" ng-if="resident" style="text-align: center;" ng-cloak>
        <div class="city-alive-info-box" ng-show="resident.alive !== undefined" style="background-position: 0px 150px">
            <div ng-if="resident.alive === false" class="resident-dead">
                <img src="content/img/resident-dead.png" style="height: 65px" class="resident-dead-img">
                You are dead
            </div>
            <div ng-if="resident.alive === true" class="resident-alive">
                <i class="glyphicon glyphicon-heart" style="font-size: 65px;"></i><br/>
                You are alive
            </div>
        </div>
    </div>




    <div style="clear: both; height: 20px"></div>
</div>



<div id="content-body">
    <div class="city">
        <div id="basic-validation-error" style="clear: both">
            <alert ng-repeat="alert in basicValidationErrors" type="alert.type" close="closeBasicValidationAlert($index)">{{alert.msg}}</alert>
        </div>

        <role city="city"
              resident="resident"
              action-results="actionResults"
              is-loading="isLoading"
              is-loading-action-results="isLoadingActionResults"
              action-results-by-type="actionResultsByType"
              tab-active="tabActive"
              day-number-min="dayNumberMin"
              day-number-max="dayNumberMax"
              has-earlier-action-results="hasEarlierActionResults"
              load-earlier-action-results="loadEarlierActionResults"
              has-more-recent-action-results="hasMoreRecentActionResults"
              load-more-recent-action-results="loadMoreRecentActionResults">

        </role>

        <div class="city-join-discussion" ng-if="resident">
            <button ng-click="joinDiscussion()" class="col-md-12 btn btn-join-discussion" ng-if="city.id">
                Discussion - {{city.name}}
            </button>
        </div>
    </div>
</div>