<div id="city">

    <div id="general-messages">
        <alert ng-repeat="alert in generalMessages" type="alert.type" close="closeGeneralMessage($index)">{{alert.msg}}</alert>
    </div>

    <button ng-click="back()" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
    <button ng-if="showJoinButton(city)" ng-click="join()" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i>Join</button>
    <button ng-if="showCancelJoinRequest(city)" ng-click="cancelJoinRequest()" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i>Cancel Join Request</button>
    <button ng-if="showAcceptInvitation(city)" ng-click="acceptInvitation()" class="btn btn-success"><i class="glyphicon glyphicon-ok-circle"></i>Accept Invitation</button>
    <button ng-if="showLeaveButton(city)" ng-click="leave()" class="btn btn-danger"><i class="glyphicon glyphicon-road"></i>Leave</button>

    <tabset>
        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-info-sign"></i> Basic
            </tab-heading>

            <div id="basic-validation-error">
                <alert ng-repeat="alert in basicValidationErrors" type="alert.type" close="closeDayCycleValidationAlert($index)">{{alert.msg}}</alert>
            </div>

            <table class="table sidetable">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{city.id}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{city.name}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{city.description}}</td>
                    </tr>
                    <tr>
                        <td>Public</td>
                        <td> <img-bool boolean-value="city.public"></img-bool> </td>
                    </tr>
                    <tr>
                        <td>Creator</td>
                        <td>{{city.user_creator_username}}</td>
                    </tr>
                    <tr>
                        <td>Timezone</td>
                        <td><timezone minutes="city.timezone"></timezone></td>
                    </tr>
                    <tr>
                        <td>Created at</td>
                        <td>{{ city.created_at | localeDate }}</td>
                    </tr>
                    <tr ng-if="city.started_at">
                        <td>Started at</td>
                        <td>{{ city.started_at | localeDate }}</td>
                    </tr>
                    <tr ng-if="city.finished_at">
                        <td>Finished at</td>
                        <td>{{ city.finished_at | localeDate }}</td>
                    </tr>
                </tbody>
            </table>
        </tab>


        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-user"></i> Residents
            </tab-heading>

            <table class="table">
                <thead>
                    <tr>
                        <td>Resident Id</td>
                        <td>User Id</td>
                        <td>Username</td>
                        <td>Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, resident) in city.residents">
                        <td>{{ resident.id }}</td>
                        <td>{{resident.user_id}}</td>
                        <td>{{resident.username}}</td>
                        <td>{{resident.name}}</td>
                    </tr>
                </tbody>
            </table>

        </tab>


        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-time"></i> Day cycles
            </tab-heading>

            <div id="day-cycle-validation-error">
                <alert ng-repeat="alert in dayCycleValidationErrors" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Day start</td>
                        <td>Night start</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, day_cycle) in city.day_cycles">
                        <td><timezone minutes="day_cycle.day_start"></timezone></td>
                        <td><timezone minutes="day_cycle.night_start"></td>
                    </tr>
                </tbody>
            </table>

        </tab>




        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-tower"></i> Roles
            </tab-heading>


            <tabset>
                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-tasks"></i> Distribution
                    </tab-heading>
                    <table class="table sidetable">
                        <tbody>
                            <tr>
                                <td>Total residents</td>
                                <td>{{ city.residents.length }}</td>
                            </tr>
                            <tr>
                                <td>Roles undistributed</td>
                                <td>{{ remainingRoles }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center">Citizens</td>
                            </tr>
                            <tr ng-repeat="role_quantity in roleQuantities | filter : {role : {affiliation: {id : affiliationIds.AFFILIATION_ID_CITIZENS }}}">
                                <td>{{role_quantity.role.name}}</td>
                                <td><b>{{ role_quantity.quantity }}</b> : <points-assign value="role_quantity.quantity" readonly="true" unused="remainingRoles" state-zero="'glyphicon glyphicon-ban-circle'" state-on="'glyphicon glyphicon-user'" state-off="'glyphicon glyphicon-unchecked'"></points-assign></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center">Mafia</td>
                            </tr>
                            <tr ng-repeat="role_quantity in roleQuantities | filter : {role: {affiliation: {id : affiliationIds.AFFILIATION_ID_MAFIA }}} ">
                                <td>{{role_quantity.role.name}}</td>
                                <td><b>{{ city_has_role.quantity }}</b> : <points-assign value="role_quantity.quantity" readonly="true" unused="remainingRoles" state-zero="'glyphicon glyphicon-ban-circle'" state-on="'glyphicon glyphicon-user'" state-off="'glyphicon glyphicon-unchecked'"></points-assign></td>
                            </tr>
                        </tbody>
                    </table>

                </tab>

                <tab>
                    <tab-heading>
                        <i class="glyphicon glyphicon-cog"></i> Action Type Parameters
                    </tab-heading>
                    To achieve optimal gameplay, some roles can be tweaked by modifying their action type parameters.
                    <i>For example, the number of collateral victims that terrorist causes can be set to 0, 1 or 2. This means that when a terrorist performs a bombing attack, both target resident and himself are killed but there will be additional 0, 1 or 2 random collateral victims.</i>

                    <table class="table sidetable">
                        <thead>
                        <tr>
                            <td class="col-md-1">Role</td>
                            <td class="col-md-2">Action Type</td>
                            <td class="col-md-9">Parameters</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3" style="text-align: center">Citizens</td>
                        </tr>
                        <tr ng-repeat="cityHasRole in city.city_has_roles | filter : {role : {affiliation: {id : affiliationIds.AFFILIATION_ID_CITIZENS}}} | cityHasRolesWithActionTypesParamsFilter">
                            <td class="col-md-1">{{cityHasRole.role.name}}</td>
                            <td colspan="2" class="col-md-11">
                                <table>
                                    <tr ng-repeat="actionType in cityHasRole.role.action_types | defaultActionTypeParamsPresentFilter">
                                        <td class="col-md-1">{{ actionType.name }}</td>
                                        <td class="col-md-10"> <action-type-params action-type-id="actionType.id" action-type-params="cityHasRole.action_types_params[actionType.id]" edit-mode="false"></action-type-params> </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center">Mafia</td>
                        </tr>
                        <tr ng-repeat="cityHasRole in city.city_has_roles | filter : {role: {affiliation: {id : affiliationIds.AFFILIATION_ID_MAFIA}}} | cityHasRolesWithActionTypesParamsFilter">
                            <td class="col-md-1">{{cityHasRole.role.name}}</td>
                            <td colspan="2" class="col-md-11">
                                <table>
                                    <tr ng-repeat="actionType in cityHasRole.role.action_types | defaultActionTypeParamsPresentFilter">
                                        <td class="col-md-1">{{ actionType.name }}</td>
                                        <td class="col-md-10"> <action-type-params action-type-id="actionType.id" action-type-params="cityHasRole.action_types_params[actionType.id]" edit-mode="false"></action-type-params> </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </tab>
            </tabset>

        </tab>


        <tab>
            <tab-heading>
                <i class="glyphicon glyphicon-wrench"></i> Other
            </tab-heading>

            <table class="table">
                <thead>
                <tr>
                    <td colspan="3">End conditions</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gameEndCondition in allGameEndConditions">
                    <td class="col-sm-1"><input type="checkbox" ng-model="checkedGameEndConditions[gameEndCondition.id]" ng-change="toggleGameEndCondition(gameEndCondition.id)" disabled></td> <!-- ng-disabled="city.started_at" -->
                    <td>{{ gameEndCondition.name }}</td>
                    <td>{{ gameEndCondition.description }}</td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                <tr>
                    <td colspan="3">Self generated result types</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="selfGeneratedResultType in allSelfGeneratedResultTypes">
                    <td class="col-sm-1"><input type="checkbox" ng-model="checkedSelfGeneratedResultTypes[selfGeneratedResultType.id]" ng-change="toggleSelfGeneratedResultType(selfGeneratedResultType.id)" disabled></td> <!-- ng-disabled="city.started_at" -->
                    <td> {{ selfGeneratedResultType.name }} </td>
                    <td> {{ selfGeneratedResultType.description }} </td>
                </tr>
                </tbody>
            </table>
        </tab>
    </tabset>


</div>