html, body {
    height: 100%;
    background-image: url('/Mafia/content/img/background/wood-background6.jpg');
}

#wrapper {
    min-height: 100%;
    border-radius: 10px;
    margin: 30px 40px 30px 40px;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
}


#content {
    padding-bottom: 70px;
}

#footer {
    text-align: center;
    height: 60px;
    margin-top: -20px;
    clear: both;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}


#content-header {
    background: linear-gradient(#0d0d0d, #322213);
    color: #ffffff;
}

#content-header a {
    color: #85402d;
}

input[type="text"], input[type="password"] {
    color: #000000;
}

#content-header button {
    background-color: #161616;
    border-color: #0d0d0d;
    color: #ffffff;
}

#content-body {
    margin-bottom: 0px;
}

.tabbable {
    background-color: #322213;
}

.tab-pane {
    background-color: #ffffff;
}

.title {
    font-family: FontAwesome;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

.title img {
    margin-left: -120px;
    margin-top: 20px;
    width: 200px;
}

#header-auth {
    position: absolute;
    width: 200px;
    right: 60px;
    margin-top: -180px;
}


/* BEGIN cities */

.cities {
    background-color: #ffffff;
    margin-bottom: -600px;
    padding-bottom: 600px;
}

.cities .nav-tabs {
    margin-left: 15px;
    border-bottom: none;
}

.cities .nav-tabs>li.active>a {
    color: white;
    background-color: #161616;
    border-color: #0d0d0d;
    margin-bottom: 2px;
}

.cities .nav-tabs>li>a {
    color: #ffffff;
}

.cities .nav-tabs>li>a:hover {
    border-color: #0d0d0d;
    background-color: #0d0d0d;
}


.btn-create-new-city {
      background-color: rgb(48, 81, 25);
      border: rgb(15, 60, 7);
      margin-left: 16px;
      margin-top: 20px;
      color: #ffffff;
}

.btn-enter-city, .btn-join-city {
    background-color: rgb(48, 81, 25);
    border: rgb(15, 60, 7);
    color: #ffffff;
}

.btn-create-new-city:hover, .btn-enter-city:hover, .btn-join-city:hover {
    background-color: rgb(15, 60, 7);
    color: #ffffff;
}

.btn-edit-city, .btn-details-city {
    background-color: #404040;
    border: #0d0d0d;
    color: #ffffff;
}

.btn-edit-city:hover, .btn-details-city:hover {
    background-color: #2a2a2a;
    color: #ffffff;
}

.btn-accept-invitation-city {
    background-color: #363749;
    border: #0d0d0d;
    color: #ffffff;
}

.btn-accept-invitation-city:hover {
    background-color: #242532;
    color: #ffffff;
}

.btn-leave-city, .btn-cancel-join-request-city {
    background-color: #562f29;
    border: #0d0d0d;
    color: #ffffff;
}

.btn-leave-city:hover, .btn-cancel-join-request-city:hover {
    background-color: #560d0b;
    color: #ffffff;
}


.cities .btn-group {
    margin-bottom: -2px;
    margin-top: 5px;
}


.my-cities-with-filters, .all-cities-with-filters, .cities-info-tab {
    margin-top: 20px;
}



.selected-city-right-div {
    margin-top: 45px;
}

.panel-default>.panel-heading {
    background-color: #404040;
    color: #ffffff;
}

#disqus_thread {
    padding: 20px;
    background-color: #ffffff;
}

/* END cities */

ac-checkbox input[type="checkbox"] {
    display:none;
}
ac-checkbox span {
    cursor:pointer;
    font-weight: 700;
    padding: 4px;
}

ac-checkbox span.checkbox-unchecked {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}

ac-checkbox span.checkbox-checked {
    color: #ffffff;
    background-color: rgb(103, 76, 51);
    border-radius: 2px;
}



@-moz-document url-prefix() {

}

/* BEGIN bootstrap modifications */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* END bootstrap modifications */




/* BEGIN layout */

.auth {
    text-align:right
}

/* END layout */



/* BEGIN pointer for anchor tags */
a {
    cursor: pointer;
}

button {
    padding: 0px;
}

td {
    vertical-align: middle !important;
}
/* END pointer for anchor tags */


/* BEGIN interactiveTableDirective */
.table tbody tr.selected td {
    background-color: #2a2a2a;
    color: white;
}

.table thead tr {
    background-color: #404040;
    color: #cccccc;
}

.center-aligned-table tr td {
    text-align: center;
}

/* END interactiveTableDirective */

/* BEGIN sidetable */

.sidetable thead tr {
    text-align: center;
    background-color: #404040;
    color: #cccccc;
}

.sidetable tbody td:nth-child(1) {
    min-width: 200px;
    width: 10%;
    background-color: #404040;
    color: #ffffff;
}

.gray-cell {
    background-color: #7c8281;
    color: #eef7f5;
}

.side-key {
    height: 26px;
    background-color: #7c8281;
    color: #eef7f5;
    border: solid;
    border-color: #c8c8c8;
    border-width: 1px;
}

/* END sidetable */

/* BEGIN day cycles */
.new-day-cycle-row {
    background-color: rgba(182, 255, 202, 0.33);
}

.narrow-horizontal-button {
    width: 100%;
}

/* END day cycles */

.new-role-pick-row {
    background-color: rgba(182, 255, 202, 0.33);
}


/* BEGIN invite players to your game */
.invite-adding-row {
    background-color: rgba(182, 255, 202, 0.33);
}

.invite-added-row {
}

/* END invite players to your game */


/* BEGIN even/odd rows */

tr:nth-child(even) {
    background: #eeeeee;
}

/* END even/odd rows */

/* BEGIN role */

#role {
    min-height: 300px;
}

/* END role */

/* BEGIN */

.resident-dead {
    font-size: 20px;
}

.role-chooser-container {
    font-size: 20px;
}

.role-chooser {
    font-size: 20px;
    display: inline-block;
}

.role-chooser .alert {
    font-size: 12px;
}

.role-chooser-explanation {
    font-size: 12px;
}

.current-day, .current-day-edit {
    font-size: 20px;
}

.city-time {
    font-size: 20px;
}

.city-time-edit {
    font-size: 16px;
}


.popover {
    font-size: 14px;
    width: 350px;
}

/* END */

/* BEGIN gameOverResult */

.resident-row-won {
    background-color: rgba(52, 252, 72, 0.23);
}

.resident-row-lost {
    background-color: rgba(187, 20, 0, 0.25);
}

/* END gameOverResult */