html, body {
    height: 100%;
    background-image: url('/MafiaFront-v0.3/Mafia/content/img/background/wood-background6.jpg');
}

#wrapper {
    min-height: 100%;
    border-radius: 10px;
    margin: 30px 40px 30px 40px;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.50);
}


#content {
    padding-bottom: 70px;
}

#footer {
    text-align: center;
    height: 60px;
    margin-top: -20px;
    clear: both;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}


#content-header {
    background: linear-gradient(#0d0d0d, #322213);
    color: #ffffff;
}

#content-header a {
    color: #C39D3C;
}

.external-links {
    position: absolute;
    padding: 10px;
}

.external-links .twitter-follow-button, .external-links .link-blog {
    float: left;
}

.external-links .link-blog {
    margin-right: 10px;
}

.auth input {
    width: 100px;
    color: #000000;
    font-weight: 700;
}

input[type="text"], input[type="password"] {
    color: #000000;
}

input, textarea, select {
    border-radius: 4px;
}

.btn i {
    margin-left: -4px;
    margin-right: 4px;
}

.btn.notext i {
    margin-left: 0px;
    margin-right: 0px;
}

.tooltip {
    width: 200px;
}


.text-red {
    color: #560d0b;
    font-weight: 700;
}

.text-green {
    color: #0F3C07;
    font-weight: 700;
}



#header-auth button {
    background-color: #161616;
    border-color: #0d0d0d;
    color: #ffffff;
}

#content-body {
    background-color: #ffffff;
    padding-bottom: 2000px;
    margin-bottom: -2000px;
    overflow: auto;
}


.title {
    font-family: FontAwesome;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 2px #000000;
    min-height: 140px;
}

.title img {
    margin-left: -120px;
    margin-top: 20px;
    width: 200px;
}

.title.textonly {
    padding-top: 40px;
}

.title.small {
    font-size: 38px;
    min-height: 80px;
}

#header-auth {
    position: absolute;
    width: 350px;
    right: 60px;
    margin-top: 20px;
}

.nopadding {
    padding: 0px;
}

.user-profile-buttons-bar {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.user-profile .tab-content {
    padding: 15px;
}

.modal-content {
    background-color: transparent;
}

.modal-delete-user, .modal-save-user-profile {
    background-color: #322213;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}

.warning-appendix {
    display: inline;
    color: #96120f;
}

.modal-input-form {
    margin-bottom: 20px;
}


.horizontal-center {
    text-align: center;
}

/* BEGIN register */

.register {
    padding: 15px;
}

.register-buttons-bar {
    padding: 15px;
}

/* END register */


/* BEGIN forgot password */

.forgot-password-modal {
    background-color: #322213;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}


.forgot-password-modal .bottom-buttons {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.forgot-password-modal input {
    color: #000000;
}

/* END forgot password */


/* BEGIN cities */

.cities {
    margin-bottom: -600px;
    padding-bottom: 600px;
}

.cities .nav-tabs .dropdown-menu {
    background-color: #322213;
    margin-left: -17px;
    margin-top: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cities .nav-tabs .dropdown-menu .btn-link {
    color: #ffffff;
    padding: 5px;

}

.cities .nav-tabs .dropdown-toggle {
    margin: -15px;
    padding: 15px;
    margin-top: -25px;
}

.cities .nav-tabs .dropdown-menu li a:hover {
    background-color: #161616;
}

.cities .nav-tabs .dropdown-menu a {
    color: #ffffff;
}

.nav-tabs {
    background-color: #322213;
    padding-left: 15px;
    border-bottom: none;
}

.nav-tabs>li.active>a {
    color: white;
    background-color: #161616;
    border-color: #0d0d0d;
    margin-bottom: 2px;
}

.nav-tabs>li>a {
    color: #ffffff;
}

.nav-tabs>li>a:hover, .nav-tabs>li.active>a:hover{
    border-color: #0d0d0d;
    background-color: #0d0d0d;
    color: #ffffff;
}

.cities-top-button-controls-bar {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.btn-back, .btn-join-discussion, .btn-toggle-edit-mode {
     background-color: #232323;
     border: 1px solid #0d0d0d;
     color: #ffffff;
}

.city-join-discussion {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-back:hover, .btn-join-discussion:hover, .btn-toggle-edit-mode:hover {
    background-color: #161616;
    color: #ffffff;
}

.btn-create-new-city, .btn-enter-city, .btn-join-city, .btn-start-city, .btn-save-city, .btn-save, .btn-new, .btn-search, .btn-resume-city, .btn-invite, .btn-accept {
    background-color: rgb(48, 81, 25);
    border: 1px solid rgb(15, 60, 7);
    color: #ffffff;

}

.btn-create-new-city:hover, .btn-enter-city:hover, .btn-join-city:hover, .btn-start-city:hover, .btn-save-city:hover, .btn-save:hover, .btn-new:hover, .btn-search:hover, .btn-resume-city:hover, .btn-invite:hover, .btn-accept:hover {
    background-color: rgb(15, 60, 7);
    color: #ffffff;
}

.btn-edit-city, .btn-details-city, .btn-pause-city, .btn-details {
    background-color: #694e29;
    border: 1px solid #3e2c13;
    color: #ffffff;
}
.btn-edit-city:hover, .btn-details-city:hover, .btn-pause-city:hover, .btn-details:hover {
    background-color: #af8d35;
    color: #ffffff;
}

.btn-accept-invitation-city, .btn-explore {
    background-color: #363749;
    border: 1px solid #1a1b26;
    color: #ffffff;
}
.btn-accept-invitation-city:hover, .btn-explore:hover {
    background-color: #1a1b26;
    color: #ffffff;
}

.btn-leave-city, .btn-cancel-join-request-city, .btn-delete, .btn-erease, .btn-reject {
    background-color: #562f29;
    border: #0d0d0d;
    color: #ffffff;
}
.btn-leave-city:hover, .btn-cancel-join-request-city:hover, .btn-delete:hover, .btn-erease:hover, .btn-reject:hover {
    background-color: #560d0b;
    color: #ffffff;
}


.cities .btn-group {
    margin-bottom: -2px;
    margin-top: 5px;
}


.my-cities-with-filters, .all-cities-with-filters, .cities-info-tab {
    margin-top: 20px;
    margin-bottom: 20px;
}


.table-cities tbody tr {
    cursor: pointer;
}

.table-cities tbody tr:hover {
    background-color: #9b9b9b;
}


.selected-city-right-div {
    margin-top: 45px;
}

.panel-default>.panel-heading {
    background-color: #404040;
    color: #ffffff;
}

#disqus_thread {
    padding: 20px;
    background-color: #ffffff;
}

/* END cities */

ac-checkbox input[type="checkbox"] {
    display:none;
}
ac-checkbox span {
    cursor:pointer;
    font-weight: 700;
}

/* BEGIN ac-highlight-text-matched */

.ac-highlight-text-matched {
    color: #ffffff;
    background-color: rgba(80, 127, 0, 0.80);
}

/* END ac-highlight-text-matched */

/* BEGIN ac-timezone-picker */

.ac-timezone-picker-column {
    text-align: center;
    width: 40px;
    float: left;
}

.ac-timezone-picker-column.ac-timezone-picker-colon {
    width: 8px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
}

.ac-timezone-picker-column.ac-timezone-picker-sign {
    padding-top: 27px;
    width: 20px;
}

.ac-timezone-picker-column>button, .ac-timezone-picker-column>input {
    width: 100%;
}

.ac-timezone-picker-column>button {
    height: 20px;
}

.ac-timezone-picker-column .btn i {
    margin-left: 0px;
    margin-right: 0px;
    top: -4px;
}

.ac-timezone-picker-column>input {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}


/* END ac-timezone-picker */


.city-filters ac-checkbox span {
    padding: 4px;
}


.city-filters ac-checkbox span.checkbox-unchecked {
    text-shadow: 1px 1px 0px rgba(55, 55, 55, 0.50);
}

.city-filters ac-checkbox span.checkbox-checked {
    color: #ffffff;
    background-color: rgb(103, 76, 51);
    border-radius: 2px;
}




@-moz-document url-prefix() {

}

/* BEGIN create/edit city */

.alert {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.alert-danger {
    background-color: #560d0b;
    border-color: #96120f;
    color: #ffffff;
}

.alert-danger .close {
    opacity: .5;
    color: #ffffff;
    text-shadow: 0 1px 0 #000;
}

.alert-danger .close:hover {
    color: #ffffff;
    opacity: .9;
}

.alert-success {
    background-color: #305119;
    border-color: #49701E;
    color: #ffffff;
}
.alert-success .close {
    opacity: .5;
    color: #ffffff;
    text-shadow: 0 1px 0 #000;
}
.alert-success .close:hover {
    color: #ffffff;
    opacity: .9;
}


.city-control-buttons-bar {
    padding-left: 15px;
    padding-bottom: 15px;
}


.city .general-messages {
    background-color: #322213;
    color: #ffffff;
}


.city .nav-tabs {
    background-color: #322213;
    color: #ffffff;
    padding-left: 15px;
}

.city .nav-tabs>li.active>a {
    color: white;
    background-color: #161616;
    border-color: #0d0d0d;
    margin-bottom: 2px;
}

.city .nav-tabs>li>a {
    color: #ffffff;
}

.city .nav-tabs>li>a:hover {
    border-color: #0d0d0d;
    background-color: #0d0d0d;
}


.create-edit-city-roles-tab .nav-tabs {
    background-color: transparent;
    padding: 0px;
}

.details-city-roles-tab .nav-tabs {
    background-color: transparent;
    padding: 0px;
}

.create-edit-city-roles-tab .nav-tabs>li.active>a {
    color: white;
    background-color: #393939;
    border-color: #2f2f2f;
}

.create-edit-city-roles-tab .nav-tabs>li>a {
    color: #2f2f2f;
}

.create-edit-city-roles-tab .nav-tabs>li>a:hover {
    background-color: #2f2f2f;
    color: #ffffff;
}

.create-edit-city-select-timezone-current-time {
    margin-top: 27px;
    float: left;
    margin-left: 4px;
}

.details-city-roles-tab .nav-tabs>li.active>a {
    color: white;
    background-color: #393939;
    border-color: #2f2f2f;
}

.details-city-roles-tab .nav-tabs>li>a {
    color: #2f2f2f;
}

.details-city-roles-tab .nav-tabs>li>a:hover {
    background-color: #2f2f2f;
    color: #ffffff;
}

.city .tab-content {
    padding: 15px;
}

.create-edit-city-roles-tab .tab-content {
    padding: 0px;
}
.details-city-roles-tab .tab-content {
    padding: 0px;
}

.create-edit-city-roles-tab .valid {
    color: #305119;
    font-weight: 700;
    font-size: 26px;
}

.create-edit-city-roles-tab .invalid {
    color: #560d0b;
    font-weight: 700;
    font-size: 26px;
}

.city ac-checkbox label {
    margin-bottom: 0px;
}

.city ac-checkbox span.checkbox-unchecked {
    text-shadow: none;
}

.city ac-checkbox span.checkbox-checked {
    color: #000000;
}

.create-edit-city-select-timezone select {
    float: left;
    margin-top: 34px;
    margin-right: 5px;
    height: 34px;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 13px;
}



.role-big-loader {
    padding: 20px;
}

.popover {
    line-height: normal;
    color: #000000;
}


.dropdown-menu {
    top: auto;
    left: auto;
}

action-result .btn {
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

action-result input {
    margin-top: 4px;
}

.role-chooser .dropdown-menu {
    background-color: #251B13;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.55);

}

.role-chooser .dropdown-menu>li>a {
    font-weight: 700;
}
.role-chooser .dropdown-menu>li>a:hover {
    background-color: #191510;
}

action-result .role-chooser .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);

}

action-result .role-chooser .dropdown a {
    color: #000000;
}

action-result .role-chooser .dropdown-menu>li>a:hover {
    background-color: #404040;
    color: #ffffff;
}



.city-info-header input {
    width: 50px;
    text-align: center;
    background-color: transparent;
    color: #C39D3C;
    font-weight: 700;
    border: none;
}





.city-info-header {
    margin-top: 40px;
}

.city-info-box {
    height: 140px;
    padding-right: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.city-info-box>div {
    background-color: #4d4e4b;
    #background-image: url(../img/metal-pattern2.jpg);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
    height: 100%;

    color: #303030;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.30), 0px -1px 0px rgba(0,0,0,.7);

    font-size: 20px;
    font-weight: 700;
}



.action-type-chooser a {
    color: #322213;
    font-weight: 700;
    text-shadow: 1px 1px rgba(55, 55, 55, 0.26);
}

.city textarea {
    width: 174px;
}



/* END create/edit city */

/* BEGIN layout */

.auth {
    text-align:right
}

/* END layout */



/* BEGIN pointer for anchor tags */
a {
    cursor: pointer;
}

button {
    padding: 0px;
}

td {
    vertical-align: middle !important;
}
/* END pointer for anchor tags */


/* BEGIN interactiveTableDirective */
.table tbody tr.selected td {
    background-color: #2a2a2a;
    color: white;
}

.table thead tr {
    background-color: #404040;
    color: #cccccc;
}

.center-aligned-table tr td {
    text-align: center;
}

/* END interactiveTableDirective */

/* BEGIN sidetable */

.sidetable thead tr {
    text-align: center;
    background-color: #404040;
    color: #cccccc;
}

.sidetable>tbody>tr>td:nth-child(1) {
    min-width: 200px;
    width: 10%;
    background-color: #404040;
    color: #ffffff;
}

.gray-cell {
    background-color: #7c8281;
    color: #eef7f5;
}

.side-key {
    height: 26px;
    background-color: #7c8281;
    color: #eef7f5;
    border: solid;
    border-color: #c8c8c8;
    border-width: 1px;
}

/* END sidetable */

/* BEGIN day cycles */
.new-day-cycle-row {
    background-color: #eeeeee;
}

.narrow-horizontal-button {
    width: 100%;
}

/* END day cycles */

.new-role-pick-row {
    background-color: rgba(182, 255, 202, 0.33);
}


/* BEGIN invite players to your game */
.invite-adding-row {
    background-color: rgba(182, 255, 202, 0.33);
}

.invite-added-row {
}

/* END invite players to your game */


/* BEGIN even/odd rows */

tr:nth-child(even) {
    background: #eeeeee;
}

tr.invite-users-table-loader-row  {
    background: transparent;
}

.modal-popup {
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.55);;
    background-color: #322213;
    color: #ffffff;
}

.modal-popup .bottom-buttons {
    padding: 5px;
}

.modal-invite-user {
    background-color: #ffffff;
    border-radius: 5px;
}

.modal-invite-user .bottom-buttons {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.edit-city-kick-user {

}
.edit-city-kick-user img {
    -webkit-filter: invert(100%);
    width: 35px;
    margin: -10px -10px -10px -10px;
}

.ng-valid-time tr {
    background-color: transparent;
}

.ng-valid-time .btn-link {
    color: rgb(103, 76, 51);
}

.new-day-cycle-row td {
    border-top: none !important;
}

/* END even/odd rows */

/* BEGIN role */

#role {
    min-height: 450px;
}

/* END role */

/* BEGIN */

.resident-dead {
    font-size: 20px;
}

.resident-dead-img {
    -webkit-filter: invert(100%);
}

.role-chooser-container {
    font-size: 20px;
}

.role-chooser {
    font-size: 20px;
    display: inline-block;
}

.role-chooser .alert {
    font-size: 12px;
}

.role-chooser-explanation {
    font-size: 12px;
}

.current-day, .current-day-edit {
    font-size: 20px;
    padding-top: 40px;
}

.city-time {
    font-size: 20px;
    padding-top: 10px;
}

.city-time-edit {
    font-size: 16px;
    padding-top: 10px;
}

.city-role-info-box {
    padding-top: 40px;
}

.city-alive-info-box {
    padding-top: 24px;
}

.city-info-box-game-over {

}

.day-cycle-phase-pause>i {
    top: 5px;
    font-size: 3em;
}

.popover {
    font-size: 14px;
    width: 350px;
}

/* END */


/* BEGIN toggle mode */

.btn-toggle-edit-mode {
    display: none;
    opacity: 0.2;
    #box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.50);
}

.btn-toggle-edit-mode-small {
    font-size: 10px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}


.floating-toggle-edit-mode {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* END */



/* BEGIN gameOverResult */

tr.resident-row-won {
    background-color: rgba(52, 252, 72, 0.23);
}

tr.resident-row-lost {
    background-color: rgba(187, 20, 0, 0.25);
}

/* END gameOverResult */


/* BEGIN discussion */

.discussion-control-buttons {
    padding: 15px;
}

/* END discussion */


/* BEGIN admin */

.admin-panel {
    background-color: #ffffff;
    color: #000000;
}

.admin-panel input, .admin-panel select, .admin-panel textarea {
    color: #000000;
}

.admin-query-panel>div {
    min-height: 45px;
    padding-top: 5px;
}

.admin-query-panel>div:nth-child(even) {
    background-color: rgba(200, 192, 27, 0.25);
    min-height: 45px;
}


.admin-panel .bottom-buttons {
    padding: 15px;
}

.admin-panel .top-buttons {
    padding: 15px;
}

.admin-results {
    background-color: #ffffff;
    padding-bottom: 600px;
    margin-bottom: -600px;
}

.initial-app-role-button-controls, .admin-edit-entity-button-controls, .admin-city-button-controls, .admin-user-button-controls {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.initial-app-role, .new-initial-app-role, .admin-city, .admin-user {
    padding: 15px;
}



/* END admin */






/* BEGIN responsive css */



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .btn-toggle-edit-mode {
        display: inline;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .btn-toggle-edit-mode {
        display: inline;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .btn-toggle-edit-mode {
        display: inline;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .btn-toggle-edit-mode {
        display: inline;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .btn-toggle-edit-mode {
        display: inline;
    }
}



/* END responsive css */