<teller-votes-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_TELLER_VOTES" action-type-params="actionTypeParams" edit-mode="editMode"></teller-votes-action-type-params-result>

<sheriff-identities-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_SHERIFF_IDENTITIES" action-type-params="actionTypeParams" edit-mode="editMode"></sheriff-identities-action-type-params-result>
<terrorist-bomb-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_TERRORIST_BOMB" action-type-params="actionTypeParams" edit-mode="editMode"></terrorist-bomb-action-type-params-result>

<deputy-identities-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_DEPUTY_IDENTITIES" action-type-params="actionTypeParams" edit-mode="editMode"></deputy-identities-action-type-params-result>

<investigate-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_INVESTIGATE" action-type-params="actionTypeParams" edit-mode="editMode"></investigate-action-type-params-result>
<journalist-investigate-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_JOURNALIST_INVESTIGATE" action-type-params="actionTypeParams" edit-mode="editMode"></journalist-investigate-action-type-params-result>

<protect-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_PROTECT" action-type-params="actionTypeParams" edit-mode="editMode"></protect-action-type-params-result>

<initiate-revival-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_INITIATE_REVIVAL" action-type-params="actionTypeParams" edit-mode="editMode"></initiate-revival-action-type-params-result>

<revive-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_REVIVE" action-type-params="actionTypeParams" edit-mode="editMode"></revive-action-type-params-result>