<teller-votes-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_TELLER_VOTES" action-type-params="actionTypeParams" edit-mode="editMode"></teller-votes-action-type-params-result>

<sheriff-identities-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_SHERIFF_IDENTITIES" action-type-params="actionTypeParams" edit-mode="editMode"></sheriff-identities-action-type-params-result>
<terrorist-bomb-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_TERRORIST_BOMB" action-type-params="actionTypeParams" edit-mode="editMode"></terrorist-bomb-action-type-params-result>

<silent-sheriff-identities-action-type-params-result ng-if="actionTypeId == actionTypeIds.ACTION_TYPE_ID_SILENT_SHERIFF_IDENTITIES" action-type-params="actionTypeParams" edit-mode="editMode"></silent-sheriff-identities-action-type-params-result>
