<div class="city-time" ng-dblclick="toggleMode()" ng-hide="editMode">
    Time: <timer ng-if="lastMidnight" start-time="lastMidnight" interval="500" autostart="false">{{hours | minLength:2}}:{{minutes | minLength:2}}:{{seconds | minLength:2}}</timer>
    <button class="btn btn-default notext btn-toggle-edit-mode btn-toggle-edit-mode-small" ng-click="toggleMode()" tooltip="Alter"><i class="glyphicon glyphicon-edit"></i></button>
</div>
<div class="city-time-edit" ng-dblclick="toggleMode()" ng-if="editMode">
    <input type="number" ng-model="time.hours"> : <input type="number" ng-model="time.minutes"> : <input type="number" ng-model="time.seconds">
    <button ng-click="setTime()" class="btn btn-save notext"><i class="glyphicon glyphicon-floppy-disk"></i></button>
    <button class="btn btn-default notext btn-toggle-edit-mode" ng-click="toggleMode()" tooltip="Cancel"><i class="glyphicon glyphicon-edit"></i></button>
</div>