<div ng-dblclick="toggleMode()">
    <i class="glyphicon glyphicon-inbox"></i> Special notifications
    <button class="btn btn-default notext btn-toggle-edit-mode btn-toggle-edit-mode-small" ng-click="toggleMode()" tooltip="{{ editMode ? 'Cancel' : 'Alter' }}"><i class="glyphicon glyphicon-edit"></i></button>

    <div ng-if="editMode">
        <div class="action-type-chooser" class="dropdown">
            <a class="dropdown-toggle">
                {{ actionTypeLabel }}
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="actionResultType in supportedActionResultTypes">
                    <a ng-click="actionResultTypeSelected(actionResultType)">{{actionResultType.name}}</a>
                </li>
            </ul>
        </div>

        <action-result city="city" resident="resident" action-result="newActionResult" action-results="actionResults" role-id="roleId" edit-mode="true" is-new="true" hide="hide"></action-result>
    </div>
</div>