<div class="current-day" ng-dblclick="toggleMode()" ng-if="!editMode">
    <div id="current-day">
        Day<br/>{{ city.current_day.number }}
        <button class="btn btn-default notext btn-toggle-edit-mode btn-toggle-edit-mode-small" ng-click="toggleMode()" tooltip="Alter"><i class="glyphicon glyphicon-edit"></i></button>
    </div>
</div>
<div class="current-day-edit" ng-dblclick="toggleMode()" ng-if="editMode">
    <div>
        Day<br/><input type="number" ng-model="city.current_day.number" style="margin-left: 20px;">
        <button class="btn btn-default notext btn-toggle-edit-mode btn-toggle-edit-mode-small" ng-click="toggleMode()" tooltip="Done"><i class="glyphicon glyphicon-edit"></i></button>
    </div>
</div>