<div>
    <create-public-news-feed-result></create-public-news-feed-result>
</div>

<div>
    <div ng-repeat="actionResult in publicActionResults">

        <action-result city="city" resident="resident" action-result="actionResult" action-results="actionResults" role-id="resident.role.id"></action-result>

    </div>
</div>
<div style="clear: both;"></div>
<button class="btn btn-link col-md-3" ng-show="hasMoreRecentActionResults()" ng-click="loadMoreRecentActionResults()">< More Recent</button>
<div class="col-md-3" ng-hide="hasMoreRecentActionResults()"></div>
<div class="col-md-6" style="text-align: center; font-size: 120%; margin-top: 5px;">Days {{dayNumberMin}} - {{dayNumberMax}}</div>
<button class="btn btn-link col-md-3" style="float: right; text-align: right;" ng-show="hasEarlierActionResults()" ng-click="loadEarlierActionResults()">Earlier ></button>
