<div class="col-md-6 nopadding">
    <vote ng-if="!city.finished_at && roleId && roleId != roleIds.ROLE_ID_FUGITIVE && roleId != roleIds.ROLE_ID_ELDER"></vote>
    <elder-vote ng-if="!city.finished_at && roleId == roleIds.ROLE_ID_ELDER"></elder-vote>

    <residents ng-if="!city.finished_at" city="city" action-results="actionResults" action-results-by-type="actionResultsByType"></residents>
    <game-over-result ng-if="city.finished_at" city="city" action-results-by-type="actionResultsByType"></game-over-result>

</div>
<div class="col-md-6">
    <public-news-feed ng-hide="isLoadingActionResults" city="city" role-id="roleId" resident="resident" action-results="actionResults" day-number-min="dayNumberMin" day-number-max="dayNumberMax" has-earlier-action-results="hasEarlierActionResults"  load-earlier-action-results="loadEarlierActionResults" has-more-recent-action-results="hasMoreRecentActionResults" load-more-recent-action-results="loadMoreRecentActionResults"></public-news-feed>
    <loader size="large" ng-show="isLoadingActionResults" center></loader>
</div>