<div id="role">

    <citizen ng-if="!resident || resident.role.id == roleIds.ROLE_ID_CITIZEN"></citizen>

    <doctor ng-if="resident.role.id == roleIds.ROLE_ID_DOCTOR"></doctor>

    <detective ng-if="resident.role.id == roleIds.ROLE_ID_DETECTIVE"></detective>


    <mob ng-if="resident.role.id == roleIds.ROLE_ID_MOB"></mob>
    <teller ng-if="resident.role.id == roleIds.ROLE_ID_TELLER"></teller>
    <sheriff ng-if="resident.role.id == roleIds.ROLE_ID_SHERIFF"></sheriff>
    <terrorist ng-if="resident.role.id == roleIds.ROLE_ID_TERRORIST"></terrorist>

    <journalist ng-if="resident.role.id == roleIds.ROLE_ID_JOURNALIST"></journalist>

    <fugitive ng-if="resident.role.id == roleIds.ROLE_ID_FUGITIVE"></fugitive>

    <deputy ng-if="resident.role.id == roleIds.ROLE_ID_DEPUTY"></deputy>

    <elder ng-if="resident.role.id == roleIds.ROLE_ID_ELDER"></elder>

    <necromancer ng-if="resident.role.id == roleIds.ROLE_ID_NECROMANCER"></necromancer>

    <zombie ng-if="resident.role.id == roleIds.ROLE_ID_ZOMBIE"></zombie>

    <forger ng-if="resident.role.id == roleIds.ROLE_ID_FORGER"></forger>

    <div style="clear: both"></div>
</div>