<div class="role-chooser">
    <!--
    <div id="info-box">
        <alert ng-repeat="alert in infos" type="{{ alert.type }}" close="closeInfoAlert($index)">{{alert.msg}}</alert>
    </div>
    -->

    <div ng-dblclick="toggleMode()" ng-if="!editMode">
        {{ roleLabel }}
        <button class="btn btn-default notext btn-toggle-edit-mode btn-toggle-edit-mode-small" ng-click="toggleMode()" tooltip="Alter"><i class="glyphicon glyphicon-edit"></i></button>
    </div>

    <div ng-dblclick="toggleMode()" ng-if="editMode">
        <div class="dropdown" style="margin-left: 47px;">
            <a class="dropdown-toggle">
                {{ roleLabel }}
            </a>
            <button ng-if="enableRoleSaving && roleId" class="btn btn-save notext" ng-click="saveRole()" tooltip="Make this role appear after login"><i class="glyphicon glyphicon-floppy-disk"></i></button>
            <ul class="dropdown-menu">
                <li ng-repeat="role in cityRoles">
                    <a ng-click="optionSelected(role.id)">{{role.name}}</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-default notext btn-toggle-edit-mode" ng-click="toggleMode()" tooltip="Leave edit mode"><i class="glyphicon glyphicon-edit"></i></button>
    </div>
</div>