<div id="role" ng-hide="isLoading">

    <citizen ng-if="!resident || resident.role.id == roleIds.ROLE_ID_CITIZEN"></citizen>

    <doctor ng-if="resident.role.id == roleIds.ROLE_ID_DOCTOR"></doctor>

    <detective ng-if="resident.role.id == roleIds.ROLE_ID_DETECTIVE"></detective>
    <teller ng-if="resident.role.id == roleIds.ROLE_ID_TELLER"></teller>

    <mob ng-if="resident.role.id == roleIds.ROLE_ID_MOB"></mob>
    <sheriff ng-if="resident.role.id == roleIds.ROLE_ID_SHERIFF"></sheriff>
    <terrorist ng-if="resident.role.id == roleIds.ROLE_ID_TERRORIST"></terrorist>

    <journalist ng-if="resident.role.id == roleIds.ROLE_ID_JOURNALIST"></journalist>

    <fugitive ng-if="resident.role.id == roleIds.ROLE_ID_FUGITIVE"></fugitive>

    <deputy ng-if="resident.role.id == roleIds.ROLE_ID_DEPUTY"></deputy>

    <elder ng-if="resident.role.id == roleIds.ROLE_ID_ELDER"></elder>

    <div style="clear: both"></div>
</div>
<div ng-show="isLoading" class="role-big-loader">
    <loader size="large" center></loader>
</div>