<div class="role-chooser">
    <!--
    <div id="info-box">
        <alert ng-repeat="alert in infos" type="alert.type" close="closeInfoAlert($index)">{{alert.msg}}</alert>
    </div>
    -->

    <div ng-dblclick="toggleMode()" ng-if="!editMode">
        {{ roleLabel }}
    </div>

    <div ng-dblclick="toggleMode()" ng-if="editMode">
        <div class="dropdown" style="margin-left: 47px;">
            <a class="dropdown-toggle">
                {{ roleLabel }}
            </a>
            <button ng-if="enableRoleSaving && roleId" class="btn btn-save notext" ng-click="saveRole()" popover="Make this role appear after login." popover-trigger="mouseenter" popover-placement="right"><i class="glyphicon glyphicon-floppy-disk"></i></button>
            <ul class="dropdown-menu">
                <li ng-repeat="role in cityRoles">
                    <a ng-click="optionSelected(role.id)">{{role.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>